.bg-primary {
  background-color: {{ primary_color }};
}

.bg-secondary {
  background-color: {{ secondary_color }};
}

.bg-dark {
  background-color: {{ dark_color }};
}

.bg-light {
  background-color: {{ light_color }};
}

.bg-white {
  background-color: #ffffff;
}

.text-primary h1,
.text-primary h2,
.text-primary h3,
.text-primary h4,
.text-primary h5,
.text-primary h6,
.text-primary p,
.text-primary ul,
.text-primary li,
.text-primary a,
h1.text-primary,
h2.text-primary,
h3.text-primary,
h4.text-primary,
h5.text-primary,
h6.text-primary,
p.text-primary,
ul.text-primary,
li.text-primary,
a.text-primary {
  color: {{ primary_color }};
}

.text-secondary h1,
.text-secondary h2,
.text-secondary h3,
.text-secondary h4,
.text-secondary h5,
.text-secondary h6,
.text-secondary p,
.text-secondary ul,
.text-secondary li,
.text-secondary a,
h1.text-secondary,
h2.text-secondary,
h3.text-secondary,
h4.text-secondary,
h5.text-secondary,
h6.text-secondary,
p.text-secondary,
ul.text-secondary,
li.text-secondary,
a.text-secondary {
  color: {{ secondary_color }};
}

.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark h4,
.text-dark h5,
.text-dark h6,
.text-dark p,
.text-dark ul,
.text-dark li,
.text-dark a,
h1.text-dark,
h2.text-dark,
h3.text-dark,
h4.text-dark,
h5.text-dark,
h6.text-dark,
p.text-dark,
ul.text-dark,
li.text-dark,
a.text-dark {
  color: {{ dark_color }};
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light p,
.text-light ul,
.text-light li,
.text-light a,
h1.text-light,
h2.text-light,
h3.text-light,
h4.text-light,
h5.text-light,
h6.text-light,
p.text-light,
ul.text-light,
li.text-light,
a.text-light {
  color: {{ light_color }};
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white ul,
.text-white li,
.text-white a,
h1.text-white,
h2.text-white,
h3.text-white,
h4.text-white,
h5.text-white,
h6.text-white,
p.text-white,
ul.text-white,
li.text-white,
a.text-white {
  color: #ffffff;
}