.footer {
  background-color: {{ footer_bg_color }};
}

/* Footer Content */
.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: {{ footer_font_color }};
}

/* Footer Navigation */
.footer .hs-menu-wrapper ul {
  justify-content: center;
  margin-bottom: 20px;
}

.footer .hs-menu-wrapper ul li.hs-menu-item {
  margin: 5px 10px;
}

.footer .hs-menu-wrapper ul li.hs-menu-item a {
  color: {{ header_nav_link_color }};
  font-family: {{ body_font.font }}, {{ body_font.fallback }};
}

.footer .hs-menu-wrapper ul li.hs-menu-item a:hover,
.footer .hs-menu-wrapper ul li.hs-menu-item a:focus {
  text-decoration: none;
  color: {{ color_variant(header_nav_link_color, -40) }};
}