/* 
  This file is meant for custom styles to override main theme styles.
  In an ideal world you should amend your styles in the relevant css file, and not use this overrides file.
  Only use this one as a last resort :)
*/
{% import './tools/_macros.css' %}

{## Table of contents

1. Variables
1a. Containers
1b. Colors
1c. Typography
1d. Buttons
1e. Forms
1f. Tables
1g. Site header
1h. Site footer
2. Containers / Grid / DnD Areas
3. Typography
4. Buttons
5. Forms
6. Tables
7. Site header
8. Site footer
9. Blog
10. System pages
11. Modules

##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = theme.spacing.max_width ~ 'px' %}
{% set dnd_section_padding = theme.spacing.vertical_spacing ~ 'px ' ~ '20px' %}
{% set dnd_mobile_section_padding = (theme.spacing.vertical_spacing / 2) ~ 'px ' ~ '20px' %}

/* 1b. Colors */

{% set primary_color = theme.global_colors.primary_color.color  %}
{% set secondary_color = theme.global_colors.secondary_color.color %}

/* 1c. Typography */

{% set primary_font = theme.global_fonts.primary_font %}
{% set secondary_font = theme.global_fonts.secondary_font %}

{% set body_font = theme.typography.body_text %}

{% set heading_one = theme.typography.heading_one %}
{% set heading_two = theme.typography.heading_two %}
{% set heading_three = theme.typography.heading_three %}
{% set heading_four = theme.typography.heading_four %}
{% set heading_five = theme.typography.heading_five %}
{% set heading_six = theme.typography.heading_six %}

{% set anchor_font_color = theme.typography.link_color.color %}

/* 1d. Buttons */

{% set button_bg_color = color(theme.buttons.background_color) %}
{% set button_font_color = theme.buttons.text_color.color %}
{% set button_border = theme.buttons.border_width ~ 'px solid ' ~ theme.buttons.border_color.color %}
{% set button_corner_radius = theme.buttons.border_radius ~ 'px' %}
{% set button_spacing = theme.buttons.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.horizontal_padding ~ 'px' %}
{% set button_spacing_mobile = theme.buttons.vertical_padding ~ 'px' ~ ' ' ~ (theme.buttons.horizontal_padding / 2) ~ 'px' %}

/* 1e. Forms */

{% set form_title_bg_color = color(theme.forms.header_background_color) %}
{% set form_title_font_color = theme.forms.header_text_color.color %}

{% set form_label_font_color = theme.forms.label_color.color %}
{% set form_help_text_font_color = theme.forms.help_text_color.color %}

{% set form_input_border_color = theme.forms.field_border_color.color %}
{% set form_input_focus_border_color = theme.forms.field_focus_border_color.color %}

/* 1f. Tables */

{% set table_head_bg_color = color(theme.tables.header_background_color) %}
{% set table_head_font_color = theme.tables.header_text_color.color %}

{% set table_bg_color = color(theme.tables.body_background_color) %}
{% set table_font_color = theme.tables.body_text_color.color %}
{% set table_border_color = theme.tables.border_color.color %}

{% set table_footer_bg_color = color(theme.tables.footer_background_color) %}
{% set table_footer_font_color = theme.tables.footer_text_color.color %}

/* 1g. Site header */

{% set header_bg_color = color(theme.header.background_color) %}
{% set header_nav_link_color = theme.header.menu_link_color.color %}
{% set header_child_nav_border_color = theme.header.child_menu_border_color.color %}

/* 1h. Site footer */

{% set footer_bg_color = color(theme.footer.background_color) %}
{% set footer_font_color = theme.footer.text_color.color %}

{###########################################################################}
{##################   2. Containers / Grid / DnD Areas   ###################}
{###########################################################################}

.content-wrapper {
max-width: {{ container_width }};
}

.dnd-section {
padding: {{ dnd_section_padding }};
}

.dnd-section > .row-fluid {
max-width: {{ container_width }};
}

@media (max-width: 767px){
    .dnd-section {
    padding: {{ dnd_mobile_section_padding }};
}
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

html {
font-size: {{ body_font.size ~ body_font.size_unit }};
}

body {
{{ body_font.style }};
color: {{ body_font.color }};
}

/* Paragraphs */

p {
{{ body_font.style }};
}

/* Anchors */

a {
color: {{ anchor_font_color }};
}

a:hover,
a:focus {
color: {{ color_variant(anchor_font_color, -40) }};
}

a:active {
color: {{ color_variant(anchor_font_color, 40) }};
}

/* Headings */

h1 {
{{ heading_one.style }};
color: {{ heading_one.color }};
font-size: {{ heading_one.size ~ heading_one.size_unit }};
}

h2 {
{{ heading_two.style }};
color: {{ heading_two.color }};
font-size: {{ heading_two.size ~ heading_two.size_unit }};
}

h3 {
{{ heading_three.style }};
color: {{ heading_three.color }};
font-size: {{ heading_three.size ~ heading_three.size_unit }};
}

h4 {
{{ heading_four.style }};
color: {{ heading_four.color }};
font-size: {{ heading_four.size ~ heading_four.size_unit }};
}

h5 {
{{ heading_five.style }};
color: {{ heading_five.color }};
font-size: {{ heading_five.size ~ heading_five.size_unit }};
}

h6 {
{{ heading_six.style }};
color: {{ heading_six.color }};
font-size: {{ heading_six.size ~ heading_six.size_unit }};
}

@media(max-width: 992px){
{% set ratio = 0.8 %}
    h1 {
    font-size: {{ (heading_one.size * ratio) ~ heading_one.size_unit }};
}

h2 {
font-size: {{ (heading_two.size * ratio) ~ heading_two.size_unit }};
}

h3 {
font-size: {{ (heading_three.size * ratio) ~ heading_three.size_unit }};
}

}


@media(max-width: 767px){
{% set ratio = 0.7 %}
    h1 {
    font-size: {{ (heading_one.size * ratio) ~ heading_one.size_unit }};
}

h2 {
font-size: {{ (heading_two.size * ratio) ~ heading_two.size_unit }};
}

h3 {
font-size: {{ (heading_three.size * ratio) ~ heading_three.size_unit }};
}

}

/* Blockquote */

blockquote {
border-left-color: {{ secondary_color }};
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button,
.button {
background-color: {{ button_bg_color }};
border: {{ button_border }};
border-radius: {{ button_corner_radius }};
color: {{ button_font_color }};
padding: {{ button_spacing }};
}

button:hover,
button:focus,
.button:hover,
.button:focus {
background-color: rgba({{ color_variant(theme.buttons.background_color.color, -40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
border-color: {{ color_variant(theme.buttons.border_color.color, -40) }};
color: {{ button_font_color }};
}

button:active,
.button:active {
background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
color: {{ button_font_color }};
}

@media(max-width: 992px){
    button,
    .button{
    padding: {{ button_spacing_mobile }}
}
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

form,
.submitted-message {
{{ body_font.style }};
}

/* Form title */

h3.form-title {
background-color: {{ form_title_bg_color }};
color: {{ form_title_font_color }};
}

/* Form label */

form label {
color: {{ form_label_font_color }};
}

/* Form help text */

form legend {
color: {{ form_help_text_font_color }};
}

/* Form inputs */

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=file],
select,
textarea {
border-color: {{ form_input_border_color }};
color: {{ body_font.color }};
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=file]:focus,
select:focus,
textarea:focus {
border-color: {{ form_input_focus_border_color }};
}

/* Form placeholder text */

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
color: {{ body_font.color }};
}

/* Date picker */

.fn-date-picker td.is-selected .pika-button {
background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
color: {{ primary_color }};
}

/* Submit button */

form input[type=submit],
form .hs-button {
background-color: {{ button_bg_color }};
border: {{ button_border }};
border-radius: {{ button_corner_radius }};
color: {{ button_font_color }};
padding: {{ button_spacing }};
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
background-color: rgba({{ color_variant(theme.buttons.background_color.color, -40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
border-color: {{ color_variant(theme.buttons.border_color.color, -40) }};
color: {{ button_font_color }};
}

form input[type=submit]:active,
form .hs-button:active {
background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
color: {{ button_font_color }};
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

table {
background-color: {{ table_bg_color }};
border-color: {{ table_border_color }};
}

th,
td {
border-color: {{ table_border_color }};
color: {{ table_font_color }};
}

thead th,
thead td {
background-color: {{ table_head_bg_color }};
border-bottom-color: {{ table_border_color }};
color: {{ table_head_font_color }};
}

tfoot td {
background-color: {{ table_footer_bg_color }};
color: {{ table_footer_font_color }};
}

tbody + tbody {
border-top-color: {{ table_border_color }};
}

{###########################################################################}
{###########################   7. Site header   ############################}
{###########################################################################}

.body-container-wrapper{
    position: relative;
    z-index: 1;
}

.header {
background-color: {{ header_bg_color }};
-webkit-transition: all ease 0.4s;
-moz-transition: all ease 0.4s;
-ms-transition: all ease 0.4s;
-o-transition: all ease 0.4s;
transition: all ease 0.4s;
position: relative;
z-index: 2;
}


body .navigation-primary li,
body .navigation-primary a,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
color: {{ header_nav_link_color }};
font-family: {{ body_font.font }};
}

body .navigation-primary a:hover,
body .navigation-primary a:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
color: {{ color_variant(header_nav_link_color, -40) }};
}

body .navigation-primary a:active,
body .header__language-switcher-label-current:active,
body .header__language-switcher .lang_list_class li a:active {
color: {{ color_variant(header_nav_link_color, 40) }};
}

body .navigation-primary .submenu.level-1 > li > a.active-item:after {
background-color: {{ primary_color }};
}

body .mega-menu-content .submenu.level-2 {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

body .mega-menu-content .submenu.level-2, body .mega-menu-content .mega-menu--columns-3 > .submenu.level-2 {
max-width: {{ container_width }};
display: flex;
width: 100vw;
flex-wrap: wrap;
}

body .mega-menu-content .mega-menu > .submenu > .menu-item {
    width: 100%;
}

body .mega-menu-content .mega-menu--columns-3 > .submenu > .menu-item {
    width: 33.3%;
}

body .submenu.level-2,
body .flyout .submenu.level-2 .submenu,
body .header__language-switcher .lang_list_class {
background-color: {{ header_bg_color }};
border: none;
box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

body .mega-menu > a:before {
background-color: {{ header_bg_color }};
}

body .submenu.level-2 > li:first-child:before {
border-color: {{ header_child_nav_border_color }};
}

body .header__language-switcher .lang_list_class:before {
border-bottom-color: {{ header_child_nav_border_color }};
}

body .submenu.level-2 .menu-item .menu-link:hover,
body .submenu.level-2 .menu-item .menu-link:focus,
body .header__language-switcher .lang_list_class li:hover,
body .submenu.level-2 > li:first-child:hover:before,
body .submenu.level-2 > li:first-child.focus:before {
background-color: {{ header_bg_color }};
}

.header__language-switcher .lang_list_class.first-active::after {
border-bottom-color: {{ header_bg_color }};
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
font-family: {{ body_font.font }};
}

.header__language-switcher-label-current:after {
border-top-color: {{ header_nav_link_color }};
}

.header__logo img{
    width: auto !important;
    height: 80px;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    -o-transition: all ease 0.35s;
    transition: all ease 0.35s;
}

.header.header--transparent{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: transparent;
    color: white;
}

.scrolled .header--transparent {
background-color: {{ header_bg_color }};
color: {{ header_nav_link_color }};
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.header--transparent .header__logo{
    padding: 10px 0;
}

.scrolled .header--transparent .header__logo img{
    height: 60px;
}

.header__logo-default{
    display: none;
}
.scrolled .header__logo-default{
    display: inline-block;
}
.header__logo-transparent{
    display: inline-block;
}
.scrolled .header__logo-transparent{
    display: none;
}

.header--transparent .navigation-primary a{
    font-size: 18px;
}
.header--transparent .header__navigation{
    width: 100%;
    display: flex;
    align-items: stretch;
    text-align: right;
}
.header--transparent .header__navigation > .hs_cos_wrapper{
    width: 100%;
}
.header--transparent .header__buttons{
    display: flex;
    align-items: stretch;
}
.header--transparent .header__toggle{
    display: inline-block;
    margin-left: 36px;
    margin-right: 36px;
}
.header--transparent .header__toggle a{
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-transition: transform ease 0.35s;
    -moz-transition: transform ease 0.35s;
    -ms-transition: transform ease 0.35s;
    -o-transition: transform ease 0.35s;
    transition: transform ease 0.35s;
}
.header--transparent .header__toggle a svg{
    fill: white;
}
.scrolled .header--transparent .header__toggle a svg{
fill: {{ header_nav_link_color }};
}

.header__close--toggle:before, .header__close--toggle:after{
    background-color: white;
}

.scrolled .header--transparent .header__close--toggle:before,
.scrolled .header--transparent .header__close--toggle:after{
background-color: {{ header_nav_link_color }};
}

.header--transparent .header__toggle a:hover{
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
}

.header--transparent .header__column{
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
}

.header--transparent .submenu.level-1>li > a{
    text-transform: lowercase;
    color: white;
    display: inline-block;
    position: relative;
}
.header__navigation.open .submenu.level-1>li a,
.scrolled .header--transparent .submenu.level-1>li a{
color: {{ header_nav_link_color }};
}

.header--transparent .submenu.level-1>li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.scrolled .header--transparent .submenu.level-1>li a:after{
    background: #494A52;
}

.header--transparent .submenu.level-1>li a:hover:after {
    width: 100%;
    left: 0;
}

.header--no-navigation{

}

.header__search,
.header__search.open{
    padding: 20px;
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all ease .35s;
    display: block;
}

body.search-open .header__search{
    opacity: 1;
    visibility: visible;
}

.header__search .hs-search-field {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 90%;
    max-width: 400px;
    transform: translate(-50%, -50%);
}
.header__search .hs-search-field__input,
.header__search .hs-search-field--open .hs-search-field__input{
    border-radius: 0;
    background-image: none;
    border: 1px solid;
    padding-right: 65px;
    outline: 0 none;
    font-family: inherit;
    font-size: inherit;
}

.header__search .hs-search-field__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit !important;
    opacity: 1;
}
.header__search .hs-search-field__input::-moz-placeholder { /* Firefox 19+ */
    color: inherit !important;
}
.header__search .hs-search-field__input:-ms-input-placeholder { /* IE 10+ */
    color: inherit !important;
}
.header__search .hs-search-field__input:-moz-placeholder { /* Firefox 18- */
    color: inherit !important;
}

.header__search .hs-search-field__icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    -webkit-appearance: none;
    border: 0 none;
}

.header__search .hs-search-field__icon svg{
    width: 60%;
    height: 60%;
}

.header__search .hs-search-field--open .hs-search-field__suggestions {
    background-color: #FFF;
border: 1px solid {{ header_nav_link_color }};
border-top: 0 solid;
border-radius: 0;
position: absolute;
width: 100%;
z-index: 10;
left: 0;
right: 0;
max-width: none;
}

.header__search .hs-search-field__suggestions li{
    font-family: inherit;
    font-size: inherit;
}

@media(max-width: 1150px) {
    .header__navigation {
    background-color: {{ header_bg_color }};
}

.header__navigation-toggle svg,
.menu-arrow svg {
fill: {{ header_nav_link_color }};
}

.header--transparent .header__navigation{
    display: none;
}
.header--transparent .header__buttons{
    width: 100%;
    justify-content: flex-end;
}
.header__column{
    position: static;
}
}

{###########################################################################}
{###########################   8. Site footer   ############################}
{###########################################################################}

.footer {
background-color: {{ footer_bg_color }};
}

/* Footer Content */

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6
.footer p,
.footer a,
.footer div,
.footer span {
color: {{ footer_font_color }};
}

{###########################################################################}
{##############################   9. Blog   ################################}
{###########################################################################}

.blog-post__date {
border-color: {{ body_font.color }};
}

.blog-tag-filter__menu-link,
.blog-post__tag-link,
.blog-card__tag-link,
.blog-post__author-name,
.blog-card__title a {
color: {{ body_font.color }};
}

.blog-card__tag-link:hover,
.blog-card__title a:hover,
.blog-tag-filter__menu-link:hover,
.blog-post__tag-link:hover,
.blog-post__author-name:hover,
.blog-card__tag-link:focus,
.blog-card__title a:focus,
.blog-tag-filter__menu-link:focus,
.blog-post__tag-link:focus,
.blog-post__author-name:focus {
color: {{ color_variant(body_font.color, -40) }};
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-tag-filter__menu-link:active,
.blog-post__tag-link:active,
.blog-post__author-name:active {
color: {{ color_variant(body_font.color, 40) }};
}

.blog-tag-filter__menu-link--active-item:after {
background-color: {{ primary_color }};
}

.blog-pagination__link {
color: {{ body_font.color }};
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
background-color: {{ primary_color }};
}

.blog-post__title {
{{ heading_two.style }};
color: {{ heading_two.color }};
font-size: {{ heading_two.size ~ heading_two.size_unit }};
}

.blog-post__author {
background-color: {{ secondary_color }};
}

#comments-listing .comment-reply-to {
color: {{ anchor_font_color }};
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
color: {{ color_variant(anchor_font_color, -40) }};
}

#comments-listing .comment-reply-to:active {
color: {{ color_variant(anchor_font_color, 40) }};
}

.align-content-center > .row-number-4 > .row-fluid .row-number-5 > .row-fluid {
	display: flex;
	align-content: ;
	align-items: center;
}
{###########################################################################}
{##########################   10. System pages   ###########################}
{###########################################################################}



{###########################################################################}
{############################   11. Modules   ##############################}
{###########################################################################}

body .icon svg {
fill: {{ primary_color }};
}

body .tns-nav button.tns-nav-active {
background-color: {{ primary_color }};
}

body .tns-nav button:hover,
body .tns-nav button:focus {
background-color: {{ primary_color }};
}

body .team-member__description {
background-color: {{ secondary_color }};
}

.header--landing .content-wrapper--middle{
    padding: 56px 0;
}

.main-banner-form{
    text-align: center;
}
.main-banner-form input.hs-button{
    border: 2px solid;
}

.grid-buttons .span3 .button{
    display: flex;
    width: 100%;
    min-height: 308px;
    text-align: center;
    padding: 30px;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}
.grid-buttons .row-fluid .span3{
    width: 24.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

.footer.footer--landing{
    background: rgba(11,14,36,1);
    background: linear-gradient(90deg, rgba(0,127,161,1) 0%, rgba(11,14,36,1) 100%);
    color: white;
}
.footer.footer--landing *{
    color: inherit;
}

.footer--landing #copyright ul,
.footer--landing #copyright li{
    display: inline-block;
    list-style: none;
    margin: 0;
}

.footer--landing #copyright li{
    padding: 4px 30px;
    position: relative;
    border-left: 1px solid;
    line-height: 1;
}
.footer--landing #copyright li:first-child{
    border-left: 0 none;
}

.section-button-overlap{
    position: relative;
    z-index: 2;
}

.table-compare-cloud table{
    border-collapse: collapse;
}
.table-compare-cloud table td,
.table-compare-cloud table th{
    text-align: center;
    padding: 1rem 2rem;
}
.table-compare-cloud table thead th{
    border-color: white;
}
.table-compare-cloud table tbody td{
    color: rgba(0,0,0,0.8);
}
@media (min-width: 1150px){
    .header--transparent .header__toggle,
    .header__navigation--toggle{
        display: none;
    }
}

@media(max-width: 1170px){
{% set ratio = 0.7 %}
    h1 {
        font-size: {{ (heading_one.size * ratio) ~ heading_one.size_unit }};
    }

    h2 {
        font-size: {{ (heading_two.size * ratio) ~ heading_two.size_unit }};
    }

    h3 {
        font-size: {{ (heading_three.size * ratio) ~ heading_three.size_unit }};
    }
}
@media(max-width: 991px){

    .header--landing .content-wrapper--middle{
        padding: 20px 0;
    }
    .grid-buttons .span3 .button {
        min-height: 200px;
        padding: 10px;
        font-size: 18px;
        line-height: 26px;
    }
}

@media(max-width: 767px){
{% set ratio = 0.5 %}
    h1 {
        font-size: {{ (heading_one.size * ratio) ~ heading_one.size_unit }};
    }

    h2 {
    font-size: {{ (heading_two.size * ratio) ~ heading_two.size_unit }};
    }

    h3 {
    font-size: {{ (heading_three.size * ratio) ~ heading_three.size_unit }};
    }

    .header--landing .content-wrapper--middle{
        padding: 20px 0;
        text-align: center;
    }

    .header--landing .custom-button{
        display: none;
    }

    .grid-buttons .row-fluid .span3{
        width: 49.5%;
    }

    .grid-buttons .span3 .button{
        min-height: 180px;
        font-size: 16px;
        line-height: 24px;
    }

    .table-compare-cloud table td, .table-compare-cloud table th{
        font-size: 16px;
        padding: 10px;
    }

    .footer--landing #copyright li{
        padding: 4px 10px;
    }
}