/* Responsive Grid */

.row-fluid {
    width: 100%;
    *zoom: 1;
    flex-wrap: wrap;
}

.row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid .span12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%;
}

.row-fluid .span11 {
    width: 91.489361693%;
    *width: 91.4361702036383%;
}

.row-fluid .span10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%;
}

.row-fluid .span9 {
    width: 74.468085099%;
    *width: 74.4148936096383%;
}

.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%;
}

.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.3936170156383%;
}

.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%;
}

.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.3723404216383%;
}

.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.8617021246383%;
}

.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.3510638276383%;
}

.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.8404255306383%;
}

.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.329787233638298%;
}

.container-fluid {
    *zoom: 1;
}

.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
}

.container-fluid:after {
    clear: both;
}

@media (max-width: 767px) {
    .row-fluid {
        width: 100%;
    }

    .row-fluid [class*="span"] {
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    /*.row-fluid {*/
    /*width: 100%;*/
    /**zoom: 1;*/
    /*}*/

    /*.row-fluid:before, .row-fluid:after {*/
    /*display: table;*/
    /*content: "";*/
    /*}*/

    /*.row-fluid:after {*/
    /*clear: both;*/
    /*}*/

    /*.row-fluid [class*="span"] {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 100%;*/
    /*min-height: 28px;*/
    /*margin-left: 2.762430939%;*/
    /**margin-left: 2.709239449638298%;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*}*/

    /*.row-fluid [class*="span"]:first-child {*/
    /*margin-left: 0;*/
    /*}*/

    .row-fluid .span-md12 {
        width: 99.999999993%;
        *width: 99.9468085036383%;
        margin-left: 0;
    }

    .row-fluid .span-md11 {
        width: 91.436464082%;
        *width: 91.38327259263829%;
    }

    .row-fluid .span-md10 {
        width: 82.87292817100001%;
        *width: 82.8197366816383%;
    }

    .row-fluid .span-md9 {
        width: 74.30939226%;
        *width: 74.25620077063829%;
    }

    .row-fluid .span-md8 {
        width: 65.74585634900001%;
        *width: 65.6926648596383%;
    }

    .row-fluid .span-md7 {
        width: 57.182320438000005%;
        *width: 57.129128948638304%;
    }

    .row-fluid .span-md6 {
        width: 48.618784527%;
        *width: 48.5655930376383%;
    }

    .row-fluid .span-md5 {
        width: 40.055248616%;
        *width: 40.0020571266383%;
    }

    .row-fluid .span-md4 {
        width: 31.491712705%;
        *width: 31.4385212156383%;
    }

    .row-fluid .span-md3 {
        width: 22.928176794%;
        *width: 22.874985304638297%;
    }

    .row-fluid .span-md2 {
        width: 14.364640883%;
        *width: 14.311449393638298%;
    }

    .row-fluid .span-md1 {
        width: 5.801104972%;
        *width: 5.747913482638298%;
    }

    .mt-md0,
    .dnd-section .dnd-column.mt-md0{
        margin-top: 0 !important;
    }
    .mr-md0,
    .dnd-section .dnd-column.mr-md0{
        margin-right: 0 !important;
    }
    .mb-md0,
    .dnd-section .dnd-column.mb-md0{
        margin-bottom: 0 !important;
    }
    .ml-md0,
    .dnd-section .dnd-column.ml-md0{
        margin-left: 0 !important;
    }

    .pt-md0,
    .dnd-section .dnd-column.pt-md0{
        padding-top: 0 !important;
    }
    .pr-md0,
    .dnd-section .dnd-column.pr-md0{
        padding-right: 0 !important;
    }
    .pb-md0,
    .dnd-section .dnd-column.pb-md0{
        padding-bottom: 0 !important;
    }
    .pl-md0,
    .dnd-section .dnd-column.pl-md0{
        padding-left: 0 !important;
    }

    .pt-md10,
    .dnd-section .dnd-column.pt-md10{
        padding-top: 10px !important;
    }
    .pr-md10,
    .dnd-section .dnd-column.pr-md10{
        padding-right: 10px !important;
    }
    .pb-md10,
    .dnd-section .dnd-column.pb-md10{
        padding-bottom: 10px !important;
    }
    .pl-md10,
    .dnd-section .dnd-column.pl-md10{
        padding-left: 10px !important;
    }

    .pt-md20,
    .dnd-section .dnd-column.pt-md20{
        padding-top: 20px !important;
    }
    .pr-md20,
    .dnd-section .dnd-column.pr-md20{
        padding-right: 20px !important;
    }
    .pb-md20,
    .dnd-section .dnd-column.pb-md20{
        padding-bottom: 20px !important;
    }
    .pl-md20,
    .dnd-section .dnd-column.pl-md20{
        padding-left: 20px !important;
    }

    .pt-md30,
    .dnd-section .dnd-column.pt-md30{
        padding-top: 30px !important;
    }
    .pr-md30,
    .dnd-section .dnd-column.pr-md30{
        padding-right: 30px !important;
    }
    .pb-md30,
    .dnd-section .dnd-column.pb-md30{
        padding-bottom: 30px !important;
    }
    .pl-md30,
    .dnd-section .dnd-column.pl-md30{
        padding-left: 30px !important;
    }

    .pt-md40,
    .dnd-section .dnd-column.pt-md40{
        padding-top: 40px !important;
    }
    .pr-md40,
    .dnd-section .dnd-column.pr-md40{
        padding-right: 40px !important;
    }
    .pb-md40,
    .dnd-section .dnd-column.pb-md40{
        padding-bottom: 40px !important;
    }
    .pl-md40,
    .dnd-section .dnd-column.pl-md40{
        padding-left: 40px !important;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    /*.row-fluid {*/
    /*width: 100%;*/
    /**zoom: 1;*/
    /*}*/

    /*.row-fluid:before, .row-fluid:after {*/
    /*display: table;*/
    /*content: "";*/
    /*}*/

    /*.row-fluid:after {*/
    /*clear: both;*/
    /*}*/

    /*.row-fluid [class*="span"] {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 100%;*/
    /*min-height: 28px;*/
    /*margin-left: 2.762430939%;*/
    /**margin-left: 2.709239449638298%;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*}*/

    /*.row-fluid [class*="span"]:first-child {*/
    /*margin-left: 0;*/
    /*}*/

    .row-fluid .span-sm12 {
        width: 99.999999993%;
        *width: 99.9468085036383%;
        margin-left: 0;
    }

    .row-fluid .span-sm11 {
        width: 91.436464082%;
        *width: 91.38327259263829%;
    }

    .row-fluid .span-sm10 {
        width: 82.87292817100001%;
        *width: 82.8197366816383%;
    }

    .row-fluid .span-sm9 {
        width: 74.30939226%;
        *width: 74.25620077063829%;
    }

    .row-fluid .span-sm8 {
        width: 65.74585634900001%;
        *width: 65.6926648596383%;
    }

    .row-fluid .span-sm7 {
        width: 57.182320438000005%;
        *width: 57.129128948638304%;
    }

    .row-fluid .span-sm6 {
        width: 48.618784527%;
        *width: 48.5655930376383%;
    }

    .row-fluid .span-sm5 {
        width: 40.055248616%;
        *width: 40.0020571266383%;
    }

    .row-fluid .span-sm4 {
        width: 31.491712705%;
        *width: 31.4385212156383%;
    }

    .row-fluid .span-sm3 {
        width: 22.928176794%;
        *width: 22.874985304638297%;
    }

    .row-fluid .span-sm2 {
        width: 14.364640883%;
        *width: 14.311449393638298%;
    }

    .row-fluid .span-sm1 {
        width: 5.801104972%;
        *width: 5.747913482638298%;
    }

    .mt-sm0,
    .dnd-section .dnd-column.mt-sm0{
        margin-top: 0 !important;
    }
    .mr-sm0,
    .dnd-section .dnd-column.mr-sm0{
        margin-right: 0 !important;
    }
    .mb-sm0,
    .dnd-section .dnd-column.mb-sm0{
        margin-bottom: 0 !important;
    }
    .ml-sm0,
    .dnd-section .dnd-column.ml-sm0{
        margin-left: 0 !important;
    }

    .pt-sm0,
    .dnd-section .dnd-column.pt-sm0{
        padding-top: 0 !important;
    }
    .pr-sm0,
    .dnd-section .dnd-column.pr-sm0{
        padding-right: 0 !important;
    }
    .pb-sm0,
    .dnd-section .dnd-column.pb-sm0{
        padding-bottom: 0 !important;
    }
    .pl-sm0,
    .dnd-section .dnd-column.pl-sm0{
        padding-left: 0 !important;
    }

    .pt-sm10,
    .dnd-section .dnd-column.pt-sm10{
        padding-top: 10px !important;
    }
    .pr-sm10,
    .dnd-section .dnd-column.pr-sm10{
        padding-right: 10px !important;
    }
    .pb-sm10,
    .dnd-section .dnd-column.pb-sm10{
        padding-bottom: 10px !important;
    }
    .pl-sm10,
    .dnd-section .dnd-column.pl-sm10{
        padding-left: 10px !important;
    }

    .pt-sm20,
    .dnd-section .dnd-column.pt-sm20{
        padding-top: 20px !important;
    }
    .pr-sm20,
    .dnd-section .dnd-column.pr-sm20{
        padding-right: 20px !important;
    }
    .pb-sm20,
    .dnd-section .dnd-column.pb-sm20{
        padding-bottom: 20px !important;
    }
    .pl-sm20,
    .dnd-section .dnd-column.pl-sm20{
        padding-left: 20px !important;
    }

    .pt-sm30,
    .dnd-section .dnd-column.pt-sm30{
        padding-top: 30px !important;
    }
    .pr-sm30,
    .dnd-section .dnd-column.pr-sm30{
        padding-right: 30px !important;
    }
    .pb-sm30,
    .dnd-section .dnd-column.pb-sm30{
        padding-bottom: 30px !important;
    }
    .pl-sm30,
    .dnd-section .dnd-column.pl-sm30{
        padding-left: 30px !important;
    }

    .pt-sm40,
    .dnd-section .dnd-column.pt-sm40{
        padding-top: 40px !important;
    }
    .pr-sm40,
    .dnd-section .dnd-column.pr-sm40{
        padding-right: 40px !important;
    }
    .pb-sm40,
    .dnd-section .dnd-column.pb-sm40{
        padding-bottom: 40px !important;
    }
    .pl-sm40,
    .dnd-section .dnd-column.pl-sm40{
        padding-left: 40px !important;
    }
}


@media (max-width: 767px) {
    /*.row-fluid {*/
    /*width: 100%;*/
    /**zoom: 1;*/
    /*}*/

    /*.row-fluid:before, .row-fluid:after {*/
    /*display: table;*/
    /*content: "";*/
    /*}*/

    /*.row-fluid:after {*/
    /*clear: both;*/
    /*}*/

    /*.row-fluid [class*="span"] {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 100%;*/
    /*min-height: 28px;*/
    /*margin-left: 2.762430939%;*/
    /**margin-left: 2.709239449638298%;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*}*/

    /*.row-fluid [class*="span"]:first-child {*/
    /*margin-left: 0;*/
    /*}*/

    .row-fluid .span-xs12 {
        width: 99.999999993%;
        *width: 99.9468085036383%;
        margin-left: 0;
    }

    .row-fluid .span-xs11 {
        width: 91.436464082%;
        *width: 91.38327259263829%;
    }

    .row-fluid .span-xs10 {
        width: 82.87292817100001%;
        *width: 82.8197366816383%;
    }

    .row-fluid .span-xs9 {
        width: 74.30939226%;
        *width: 74.25620077063829%;
    }

    .row-fluid .span-xs8 {
        width: 65.74585634900001%;
        *width: 65.6926648596383%;
    }

    .row-fluid .span-xs7 {
        width: 57.182320438000005%;
        *width: 57.129128948638304%;
    }

    .row-fluid .span-xs6 {
        width: 48.618784527%;
        *width: 48.5655930376383%;
    }

    .row-fluid .span-xs5 {
        width: 40.055248616%;
        *width: 40.0020571266383%;
    }

    .row-fluid .span-xs4 {
        width: 31.491712705%;
        *width: 31.4385212156383%;
    }

    .row-fluid .span-xs3 {
        width: 22.928176794%;
        *width: 22.874985304638297%;
    }

    .row-fluid .span-xs2 {
        width: 14.364640883%;
        *width: 14.311449393638298%;
    }

    .row-fluid .span-xs1 {
        width: 5.801104972%;
        *width: 5.747913482638298%;
    }

    .mt-xs0,
    .dnd-section .dnd-column.mt-xs0{
        margin-top: 0 !important;
    }
    .mr-xs0,
    .dnd-section .dnd-column.mr-xs0{
        margin-right: 0 !important;
    }
    .mb-xs0,
    .dnd-section .dnd-column.mb-xs0{
        margin-bottom: 0 !important;
    }
    .ml-xs0,
    .dnd-section .dnd-column.ml-xs0{
        margin-left: 0 !important;
    }

    .pt-xs0,
    .dnd-section .dnd-column.pt-xs0{
        padding-top: 0 !important;
    }
    .pr-xs0,
    .dnd-section .dnd-column.pr-xs0{
        padding-right: 0 !important;
    }
    .pb-xs0,
    .dnd-section .dnd-column.pb-xs0{
        padding-bottom: 0 !important;
    }
    .pl-xs0,
    .dnd-section .dnd-column.pl-xs0{
        padding-left: 0 !important;
    }

    .pt-xs10,
    .dnd-section .dnd-column.pt-xs10{
        padding-top: 10px !important;
    }
    .pr-xs10,
    .dnd-section .dnd-column.pr-xs10{
        padding-right: 10px !important;
    }
    .pb-xs10,
    .dnd-section .dnd-column.pb-xs10{
        padding-bottom: 10px !important;
    }
    .pl-xs10,
    .dnd-section .dnd-column.pl-xs10{
        padding-left: 10px !important;
    }

    .pt-xs20,
    .dnd-section .dnd-column.pt-xs20{
        padding-top: 20px !important;
    }
    .pr-xs20,
    .dnd-section .dnd-column.pr-xs20{
        padding-right: 20px !important;
    }
    .pb-xs20,
    .dnd-section .dnd-column.pb-xs20{
        padding-bottom: 20px !important;
    }
    .pl-xs20,
    .dnd-section .dnd-column.pl-xs20{
        padding-left: 20px !important;
    }

    .pt-xs30,
    .dnd-section .dnd-column.pt-xs30{
        padding-top: 30px !important;
    }
    .pr-xs30,
    .dnd-section .dnd-column.pr-xs30{
        padding-right: 30px !important;
    }
    .pb-xs30,
    .dnd-section .dnd-column.pb-xs30{
        padding-bottom: 30px !important;
    }
    .pl-xs30,
    .dnd-section .dnd-column.pl-xs30{
        padding-left: 30px !important;
    }

    .pt-xs40,
    .dnd-section .dnd-column.pt-xs40{
        padding-top: 40px !important;
    }
    .pr-xs40,
    .dnd-section .dnd-column.pr-xs40{
        padding-right: 40px !important;
    }
    .pb-xs40,
    .dnd-section .dnd-column.pb-xs40{
        padding-bottom: 40px !important;
    }
    .pl-xs40,
    .dnd-section .dnd-column.pl-xs40{
        padding-left: 40px !important;
    }
}

@media (min-width: 1280px) {
    /*.row-fluid {*/
    /*width: 100%;*/
    /**zoom: 1;*/
    /*}*/

    /*.row-fluid:before, .row-fluid:after {*/
    /*display: table;*/
    /*content: "";*/
    /*}*/

    /*.row-fluid:after {*/
    /*clear: both;*/
    /*}*/

    /*.row-fluid [class*="span"] {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 100%;*/
    /*min-height: 28px;*/
    /*margin-left: 2.564102564%;*/
    /**margin-left: 2.510911074638298%;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*}*/

    /*.row-fluid [class*="span"]:first-child {*/
    /*margin-left: 0;*/
    /*}*/

    .row-fluid .span-lg12 {
        width: 100%;
        *width: 99.94680851063829%;
        margin-left: 0;
    }

    .row-fluid .span-lg11 {
        width: 91.45299145300001%;
        *width: 91.3997999636383%;
    }

    .row-fluid .span-lg10 {
        width: 82.905982906%;
        *width: 82.8527914166383%;
    }

    .row-fluid .span-lg9 {
        width: 74.358974359%;
        *width: 74.30578286963829%;
    }

    .row-fluid .span-lg8 {
        width: 65.81196581200001%;
        *width: 65.7587743226383%;
    }

    .row-fluid .span-lg7 {
        width: 57.264957265%;
        *width: 57.2117657756383%;
    }

    .row-fluid .span-lg6 {
        width: 48.717948718%;
        *width: 48.6647572286383%;
    }

    .row-fluid .span-lg5 {
        width: 40.170940171000005%;
        *width: 40.117748681638304%;
    }

    .row-fluid .span-lg4 {
        width: 31.623931624%;
        *width: 31.5707401346383%;
    }

    .row-fluid .span-lg3 {
        width: 23.076923077%;
        *width: 23.0237315876383%;
    }

    .row-fluid .span-lg2 {
        width: 14.529914530000001%;
        *width: 14.4767230406383%;
    }

    .row-fluid .span-lg1 {
        width: 5.982905983%;
        *width: 5.929714493638298%;
    }

    .mt-lg0,
    .dnd-section .dnd-column.mt-lg0{
        margin-top: 0 !important;
    }
    .mr-lg0,
    .dnd-section .dnd-column.mr-lg0{
        margin-right: 0 !important;
    }
    .mb-lg0,
    .dnd-section .dnd-column.mb-lg0{
        margin-bottom: 0 !important;
    }
    .ml-lg0,
    .dnd-section .dnd-column.ml-lg0{
        margin-left: 0 !important;
    }

    .pt-lg0,
    .dnd-section .dnd-column.pt-lg0{
        padding-top: 0 !important;
    }
    .pr-lg0,
    .dnd-section .dnd-column.pr-lg0{
        padding-right: 0 !important;
    }
    .pb-lg0,
    .dnd-section .dnd-column.pb-lg0{
        padding-bottom: 0 !important;
    }
    .pl-lg0,
    .dnd-section .dnd-column.pl-lg0{
        padding-left: 0 !important;
    }

    .pt-lg10,
    .dnd-section .dnd-column.pt-lg10{
        padding-top: 10px !important;
    }
    .pr-lg10,
    .dnd-section .dnd-column.pr-lg10{
        padding-right: 10px !important;
    }
    .pb-lg10,
    .dnd-section .dnd-column.pb-lg10{
        padding-bottom: 10px !important;
    }
    .pl-lg10,
    .dnd-section .dnd-column.pl-lg10{
        padding-left: 10px !important;
    }

    .pt-lg20,
    .dnd-section .dnd-column.pt-lg20{
        padding-top: 20px !important;
    }
    .pr-lg20,
    .dnd-section .dnd-column.pr-lg20{
        padding-right: 20px !important;
    }
    .pb-lg20,
    .dnd-section .dnd-column.pb-lg20{
        padding-bottom: 20px !important;
    }
    .pl-lg20,
    .dnd-section .dnd-column.pl-lg20{
        padding-left: 20px !important;
    }

    .pt-lg30,
    .dnd-section .dnd-column.pt-lg30{
        padding-top: 30px !important;
    }
    .pr-lg30,
    .dnd-section .dnd-column.pr-lg30{
        padding-right: 30px !important;
    }
    .pb-lg30,
    .dnd-section .dnd-column.pb-lg30{
        padding-bottom: 30px !important;
    }
    .pl-lg30,
    .dnd-section .dnd-column.pl-lg30{
        padding-left: 30px !important;
    }

    .pt-lg40,
    .dnd-section .dnd-column.pt-lg40{
        padding-top: 40px !important;
    }
    .pr-lg40,
    .dnd-section .dnd-column.pr-lg40{
        padding-right: 40px !important;
    }
    .pb-lg40,
    .dnd-section .dnd-column.pb-lg40{
        padding-bottom: 40px !important;
    }
    .pl-lg40,
    .dnd-section .dnd-column.pl-lg40{
        padding-left: 40px !important;
    }
}

/* Clearfix */

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Visibilty Classes */

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Responsive Visibilty Classes */

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1139px) {
    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important ;
    }
}
