/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: {{ media_sm ~ 'px' }}) {
  
  
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: {{ media_md ~ 'px' }}) {
  
}

/* Large devices (desktops, 992px and up) */

@media (min-width: {{ media_lg ~ 'px' }}) {
  
}

/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: {{ media_xl ~ 'px' }}) {

}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: {{ media_xxl ~ 'px' }}) {

}