<!--
  templateType: global_partial
  label: Base HS Theme - Footer
-->
<footer class="footer">
  {% dnd_area 'footer' class='footer__container content-wrapper', label='Footer' %}

    {# Social follow and copyright section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module 'navigation-footer' path='@hubspot/menu',
            label='Footer navigation'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          margin={
          'top': 12,
          'bottom': 12
          }
        %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <div style="text-align: center; font-size: 0.7rem;">
                <span>© {{ year }} All rights reserved.</span>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End social follow and copyright section #}

  {% end_dnd_area %}
</footer>
