<!--
  templateType: page
  isAvailableForNewContent: true
  label: Base HS Theme - Blank drag and drop
  screenshotPath: ../images/template-previews/about.png
-->
{% extends './layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}

    {# Main section #}
    {% dnd_section
      vertical_alignment='TOP'
    %}
      {% dnd_module path='@hubspot/rich_text',
        offset=0,
        width=12
      %}
        {% module_attribute 'html' %}
          <h1>Blank Drag and Drop Template</h1>
          <p>Use this template as a basic starter page to allow you to drop any new module, or create any type of row/column layouts.</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# End main section #}

  {% end_dnd_area %}
</main>
{% endblock body %}