<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Base HS Theme - Blog Listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set template_css = '../../css/templates/blog.css' %}
{% extends './layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area'
    label='Main section',
    class='body-container body-container--blog-index'
  %}

    {# Blog Banner #}
    {% dnd_section
      background_color='#f8fafc',
      max_width=600,
      padding={
        'default': {
          'top': 80,
          'right': 0,
          'bottom': 80,
          'left': 0
        },
        'mobile': {
          'top': 80,
          'right': 20,
          'bottom': 80,
          'left': 20
        }
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            label='Blog header'
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h1>Blog</h1>
                <p>Use this space to tell everyone about what you have to offer.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/blog_subscribe',
            label='Blog email subscription',
            title=''
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Blog Banner #}

    {# Blog Listings and Pagination #}
    {% dnd_section
      vertical_alignment='TOP'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='../modules/blog-listings' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='../modules/blog-pagination' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Blog Listings and Pagination #}

  {% end_dnd_area %}
</main>
{% endblock body %}
