<!--
  templateType: page
  isAvailableForNewContent: true
  label: Base HS Theme - Landing Page
  screenshotPath: ../images/template-previews/about.png
-->
{% extends './layouts/base.html' %}

{% block header %}
  <header class="header header--landing header--no-navigation">
    

    {# {% dnd_area 'header-middle' label='Middle header' class='content-wrapper content-wrapper--middle' %}
      {% dnd_section vertical_alignment='MIDDLE' %}
        {% dnd_column width=6 %}
          {% dnd_row %}
            {% dnd_module 'site_logo' path='@hubspot/image',
              img = {
              src: "https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/logo.png"
            }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column width=6, offset=6 %}
          {% dnd_row %}
            {% dnd_module path='../modules/button',
              button_type_size_color_alignment = {
              button_color: "primary",
              button_hover_color: "secondary",
              text_color: "white",
              text_hover_color: "white",
              button_align: "right"
            },
              button_link_text = {
              button_text: "Schedule a call today",
              button_url: {
                url: {
                  href: "#main-banner-form"
                }
              }
            }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      
    {% end_dnd_area %} #}
    
    {# Bottom header drag and drop area #}
    {% dnd_area 'header-bottom' label='Bottom header' class='content-wrapper content-wrapper--bottom' %}
    {% end_dnd_area %}
    {# End bottom header drag and drop area #}
  
  </header>
{% endblock %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}

    {# section banner #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
        default: {top:50, bottom:50},
        mobile: {top:50, bottom:50}
      }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/advanced-row-background",
            full_height=true,
            background_image={
            src: 'https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/landing-banner3.jpg'
          },
            overlay_color="secondary-color"
            overlay_opacity=30
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h1 style="text-align: center; color: #fff;">Unique concept. Unique solutions. <br/>Unique Cloud.</h1>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row padding={top: 50} %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h4 style="text-align: center; color: #fff;">Schedule a call with one of our consultants to see how our unique Accxia ONE Cloud can benefit your business.</h4>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row padding={top: 50} %}
          {% dnd_column width=3 %}
            {% dnd_row %}
              {% dnd_module path="../modules/custom-column-css",
                custom_css_classes="span-sm1"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=6, offset=3 %}
            {% dnd_row %}
              {% dnd_module path="../modules/custom-column-css",
                custom_css_classes="main-banner-form span-sm10"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/form",
                form={
                form_id:"0778aa59-06a4-441b-858a-ac5073b8eb9e"
              }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=3, offset=9 %}
            {% dnd_row %}
              {% dnd_module path="../modules/custom-column-css",
                custom_css_classes="span-sm1"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    
    {# section Why Accxia #}
    {% dnd_section background_color="#ffffff" %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row padding={bottom: 20} %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h2 style="text-align: center;">Why Accxia One Cloud?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path="../modules/custom-column-css",
            custom_css_classes="grid-buttons"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "Manage & eliminate technical debt"
          },
            width=3
          %}
          {% end_dnd_module %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "30 data centres globally <small>(ISO27001 certified)</small>"
          },
            width=3, offset=3
          %}
          {% end_dnd_module %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "Scalable cyber security"
          },
            width=3, offset=6
          %}
          {% end_dnd_module %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "Europe’s largest Private Cloud for Atlassian software platforms"
          },
            width=3, offset=9
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "Fast deployment & automation"
          },
            width=3
          %}
          {% end_dnd_module %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "PaaS environment"
          },
            width=3, offset=3
          %}
          {% end_dnd_module %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "Agile model with application management"
          },
            width=3, offset=6
          %}
          {% end_dnd_module %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "secondary",
            button_hover_color: "primary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "right"
          },
            button_link_text = {
            button_text: "Tiered pricing & features available"
          },
            width=3, offset=9
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row padding={top:50} %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "primary",
            button_hover_color: "secondary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "center"
          },
            button_link_text = {
            button_text: "Schedule a call today",
            button_url: {
              url: {
                href: "#main-banner-form"
              }
            }
          }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {# section why choose accxia #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
        default: {top:50, bottom:50},
        mobile: {top:50, bottom:50},
      }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/advanced-row-background",
            full_height=false,
            background_image={
            src: 'https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/landing-banner4.jpg'
          },
            overlay_color="secondary-color"
            overlay_opacity=30
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h2 style="text-align: center; color: #fff;">Why choose Accxia?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row padding={top: 20} %}
          {% dnd_column width=2 %}
          {% end_dnd_column %}
          {% dnd_module path='@hubspot/rich_text', width=8, offset=2%}
            {% module_attribute 'html' %}
              <p style="text-align: center; color: #fff;">We operate Europe’s largest Private Cloud for Atlassian solutions.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row padding={top: 50} %}
          {% dnd_column width=2 %}
            {% dnd_row %}
              {% dnd_module path="../modules/custom-column-css",
                custom_css_classes="span-sm12 span-xs12"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=4, offset=2 %}
            {% dnd_row %}
              {% dnd_module path="../modules/custom-column-css",
                custom_css_classes="span-sm6 span-xs12 ml-sm0"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                  <ul style="color: white;">
                    <li>Business driven technology solutions to manage return on technology assets</li>
                    <li>Solutions that provide control, security, scalability, flexibility and enhanced usability for users at all levels</li>
                    <li>Atlassian and infrastructure specialists</li>
                    <li>Certified expert engineers</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=4, offset=6 %}
            {% dnd_row %}
              {% dnd_module path="../modules/custom-column-css",
                custom_css_classes="span-sm6 span-xs12"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text'%}
                {% module_attribute 'html' %}
                  <ul style="color: white;">
                    <li>Atlassian Gold Solution Partner and marketplace vendor</li>
                    <li>Offices in Germany, UK & USA</li>
                    <li>Accxia Systems Integrations</li>
                    <li>Accxia cyber Cloud managed service provider</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    
    {# section button #}
    {% dnd_section padding={top:0,bottom:0} %}
      {% dnd_column %}
        {% dnd_row margin={top:-25} %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "primary",
            button_hover_color: "secondary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "center"
          },
            button_link_text = {
            button_text: "Schedule a call today",
            button_url: {
              url: {
                href: "#main-banner-form"
              }
            }
          }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='../modules/custom-column-css', section_css_classes="section-button-overlap" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {# section our clients #}
    {% dnd_section background_color="#ffffff" %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h2 style="text-align: center;">Our clients</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path="../modules/logo-carousel",
            slider_options={show_navigation_arrows:"no"}
            logos=[
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-1.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-2.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-3.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-4.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-5.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-6.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-7.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-8.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-9.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-10.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-11.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-12.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-13.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-14.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-15.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-16.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-17.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-18.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-19.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-20.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-21.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-22.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-23.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-24.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-25.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-26.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-27.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-28.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-29.jpg"}},
            {logo:{src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/our-clients/logo-30.jpg"}}
          ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {# section testimonials #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
        default: {top:50, bottom:50},
        mobile: {top:50, bottom:50},
      }
      %}
        {% dnd_row %}
          {% dnd_module path='../modules/custom-column-css', custom_css_classes="white-text" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/advanced-row-background",
            full_height=false,
            background_image={
            src: 'https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/landing-banner5.jpg'
          },
            overlay_color="secondary-color"
            overlay_opacity=30
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path="../modules/testimonials-slider",
            quote_icon={
            icon_color:"icon-white-color",
            icon:{
              "name": "quote-left",
              "unicode": "f10d",
              "type": "SOLID"
            }
          },
            display_navigation_arrows="no",
            display_pagination_dots="yes",
            pagination_colour="white"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {# section button #}
    {% dnd_section padding={top:0,bottom:0} %}
      {% dnd_column %}
        {% dnd_row margin={top:-25} %}
          {% dnd_module path='../modules/button',
            button_type_size_color_alignment = {
            button_color: "primary",
            button_hover_color: "secondary",
            text_color: "white",
            text_hover_color: "white",
            button_align: "center"
          },
            button_link_text = {
            button_text: "Schedule a call today",
            button_url: {
              url: {
                href: "#main-banner-form"
              }
            }
          }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='../modules/custom-column-css', section_css_classes="section-button-overlap" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    
    {# section Accxia ONE #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row padding={bottom:20} %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h2 style="text-align: center;">Accxia ONE Cloud (private) vs public Cloud</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column width=2 %}
            {% dnd_row %}
              {% dnd_module path='../modules/custom-column-css',
                custom_css_classes="span-sm12" %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=8, offset=2 %}
            {% dnd_row %}
              {% dnd_module path='../modules/custom-column-css',
                custom_css_classes="span-sm12" %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module path='../modules/custom-column-css', custom_css_classes="table-compare-cloud" %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text'%}
                {% module_attribute 'html' %}
                  <table>
                    <thead>
                    <tr>
                      <th style="width:50%">Accxia ONE Cloud</th>
                      <th style="width:50%">Private Cloud</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Dedicated resource</td>
                      <td>Shared/pooled resource</td>
                    </tr>
                    <tr>
                      <td>Operated and fully managed by Accxia cloud engineers 24*7</td>
                      <td>Operated and managed by service provider engineers</td>
                    </tr>
                    <tr>
                      <td>Fixed monthly cost</td>
                      <td>Variable TCO</td>
                    </tr>
                    <tr>
                      <td>Fully customizable</td>
                      <td>Limited customization</td>
                    </tr>
                    <tr>
                      <td>Define your own management policies</td>
                      <td>Bound by multi-tenant data management policies</td>
                    </tr>
                    <tr>
                      <td>Privately shared virtualized resource</td>
                      <td>Publicly shared virtualized resources</td>
                    </tr>
                    <tr>
                      <td>Cluster of dedicated customers</td>
                      <td>Supports multiple customers</td>
                    </tr>
                    <tr>
                      <td>High level of data security and safety</td>
                      <td>Low level of data security and safety</td>
                    </tr>
                    <tr>
                      <td>Supports connectivity over internet AND private network</td>
                      <td>Supports connectivity over internet</td>
                    </tr>
                    <tr>
                      <td>Dedicated customer architecture</td>
                      <td>Multitenant architecture</td>
                    </tr>
        
                    </tbody>
                  </table>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row padding={top:50} %}
              {% dnd_module path='../modules/button',
                button_type_size_color_alignment = {
                button_color: "primary",
                button_hover_color: "secondary",
                text_color: "white",
                text_hover_color: "white",
                button_align: "center"
              },
                button_link_text = {
                button_text: "Schedule a call today",
                button_url: {
                  url: {
                    href: "#main-banner-form"
                  }
                }
              }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=2, offset=10 %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    

  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  <footer class="footer footer--landing">
    {% dnd_area 'footer' class='footer__container content-wrapper', label='Footer' %}
      
      {# Social follow and copyright section #}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_row %}
            {% dnd_module path='../modules/custom-column-css', custom_css_classes="text-center" %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module path="@hubspot/image",
              img={src:"https://fs.hubspotusercontent00.net/hubfs/8416557/accxia/logo-x.png", alt:"", width:100}
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row
            padding={top: 50, bottom: 0}
          }
          %}
            {% dnd_module path='@hubspot/rich_text' %}
              {% module_attribute 'html' %}
                <div style="text-align: center; font-size: 0.7rem;" id="copyright">
                  <ul>
                    <li>© {{ year }} Accxia</li>
                    <li><a href="#">Legal stuff</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {# End social follow and copyright section #}
    
    {% end_dnd_area %}
  </footer>
{% endblock %}