<!--
  templateType: page
  isAvailableForNewContent: false
  label: Base HS Theme - QA test
  screenshotPath: ../images/template-previews/qa-test.png
-->
{% extends './layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--qa-test', label='Main section' %}

    {# Typography section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h1>Typography</h1>
              <hr>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h1>Heading 1</h1>
              <h2>Heading 2</h2>
              <h3>Heading 3</h3>
              <h4>Heading 4</h4>
              <h5>Heading 5</h5>
              <h6>Heading 6</h6>
              <p>Lorem ipsum dolor sit amet, consectetur <em>adipiscing elit</em>. Duis porttitor, quam vel <strong>dignissim</strong> tincidunt, odio libero porta ligula, vitae fermentum lacus libero vel risus. Aenean pulvinar nisl et <a href="#">vestibulum commodo</a>. Quisque euismod tempus dignissim. Quisque dictum luctus velit, eu viverra urna tristique non. Vivamus at dolor tellus. Cras congue sapien non turpis dapibus, et vestibulum ante ultrices. Mauris eu nisi non sapien fermentum fermentum in eu odio. Fusce congue elit et tortor sagittis, sit amet auctor risus sagittis.</p>
              <p>This line contains <sub>subscript</sub> text.</p>
              <p>This line contains <sup>superscript</sup> text.</p>
              <p>This line contains <code>code</code>.</p>
              <p>This line contains <small>small</small> text.</p>
              <p>This line contains <mark>highlighted</mark> text</p>
              <pre><code>.preformatted-code { background-color: #FFF; }</code></pre>
              <ul>
              <li>Unordered list item</li>
              <li>Unordered list item</li>
              <li>Unordered list item</li>
              <li>Unordered list item</li>
              </ul>
              <ol>
              <li>First ordered list item</li>
              <li>Second ordered list item</li>
              <li>Third ordered list item</li>
              <li>Fourth ordered list item</li>
              </ol>
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor, quam vel dignissim tincidunt, odio libero porta ligula, vitae fermentum lacus libero vel risus. Aenean pulvinar nisl et vestibulum commodo. Quisque euismod tempus dignissim.</blockquote>
              <table>
                <thead>
                  <tr>
                    <th>Header column one</th>
                    <th>Header column two</th>
                    <th>Header column three</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Row one column one</td>
                    <td>Row one column two</td>
                    <td>Row one column three</td>
                  </tr>
                  <tr>
                    <td>Row two column one</td>
                    <td>Row two column two</td>
                    <td>Row two column three</td>
                  </tr>
                  <tr>
                    <td>Row three column one</td>
                    <td>Row three column two</td>
                    <td>Row three column three</td>
                  </tr>
                  <tr>
                    <td>Row four column one</td>
                    <td>Row four column two</td>
                    <td>Row four column three</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Footer column one</td>
                    <td>Footer column two</td>
                    <td>Footer column three</td>
                  </tr>
                </tfoot>
              </table>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End typography section #}

    {# Forms section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h2>Forms</h2>
              <hr>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {# One column #}
        {% dnd_row
          padding={
          'top': 35
          }
        %}
          {% dnd_module path='@hubspot/form' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {# End one column #}

        {# Two column #}
        {% dnd_row
          padding={
          'top': 35
          }
        %}
          {% dnd_module path='@hubspot/form',
            offset=0,
            width=6
          %}
          {% end_dnd_module %}
          {% dnd_module path='@hubspot/form',
            offset=6,
            width=6
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {# End two column #}

        {# Three column #}
        {% dnd_row
          padding={
          'top': 35
          }
        %}
          {% dnd_module path='@hubspot/form',
            offset=0,
            width=4
          %}
          {% end_dnd_module %}
          {% dnd_module path='@hubspot/form',
            offset=4,
            width=4
          %}
          {% end_dnd_module %}
          {% dnd_module path='@hubspot/form',
            offset=8,
            width=4
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {# End three column #}

      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End forms section #}

  {% end_dnd_area %}
</main>
{% endblock body %}
