{% require_js position="header" %}
<script type="text/javascript">
  let listID = {{ module.list_id }};
  let callType = "getListSize";
  let callPayload = {callType: callType, listID: listID};
  ajaxRequest(callType, callPayload);
  function ajaxRequest(callType, callPayload) {
    $.ajax({
      url: "https://n8nclientsfirst.app.n8n.cloud/webhook/13bc9217-eb4d-414b-9400-3e7a83cd80d1?listid={{ module.list_id }}",
      type: "get",
      success: function (response) {
        let signupLimit = {{ module.number_limit }};
        console.log(response);
        checkLimits(response.size, signupLimit);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
        // If there's an error, let's show the default content as a fallback
        $("#loading_content").hide();
        $("#default_content").show();
        $("#alternate_content").hide();
      }
    });
  }
  function checkLimits(listSize, signupLimit) {
    if (signupLimit >= listSize) {
      $("#default_content").show();
      $("#alternate_content").hide();
    } else {
      $("#default_content").hide();
      $("#alternate_content").show();
    }
    $("#loading_content").hide();
  }
</script>
{% end_require_js %}
<div id="loading_content" class="tc">
  <img src="https://f.hubspotusercontent20.net/hubfs/4312027/ClientsFirst%20Accord%20GS%20Hub%202020/loading-results_200px.gif?noresize" alt="accord-loading-spinner-200px" width="50" style="width: 50px; margin: 0px auto; display: block;">
  <p class="pt30">Please wait while we load your content.</p>
</div>
<div id="default_content">
  {% inline_rich_text field="default_content.default_text" value="{{ module.default_content.default_text }}" %}
  <div class="hide-form-labels">
    {% form
      form_to_use="{{ module.default_content.form_field.form_id }}"
      response_response_type="{{ module.default_content.form_field.response_type }}"
      response_message="{{ module.default_content.form_field.message }}"
      response_redirect_id="{{ module.default_content.form_field.redirect_id }}"
      response_redirect_url="{{module.default_content.form_field.redirect_url}}"
      gotowebinar_webinar_key="{{ module.default_content.form_field.gotowebinar_webinar_key }}"
    %}
  </div>
</div>
<div id="alternate_content">
  {% inline_rich_text field="alternate_content.alternate_text" value="{{ module.alternate_content.alternate_text }}" %}
  <div class="hide-form-labels">
    {% form
      form_to_use="{{ module.alternate_content.form_field_1.form_id }}"
      response_response_type="{{ module.alternate_content.form_field_1.response_type }}"
      response_message="{{ module.alternate_content.form_field_1.message }}"
      response_redirect_id="{{ module.alternate_content.form_field_1.redirect_id }}"
      response_redirect_url="{{module.alternate_content.form_field_1.redirect_url}}"
      gotowebinar_webinar_key="{{ module.alternate_content.form_field_1.gotowebinar_webinar_key }}"
    %}
  </div>
</div>