.blog-post,
.blog-header__inner,
.blog-related-posts {
  padding: {{ theme.spacing.vertical_spacing }}px 0;
}

/* Blog listing */
.blog-index {
  display: flex;
  flex-wrap: wrap;
}

.blog-index__post {
  flex: 0 0 100%;
  padding: 1.4rem 1rem;
}

.blog-index__post-image {
  height: auto;
  max-width: 100%;
}

.blog-index__post-title {
  font-size: 1.25rem;
}

.blog-index__post-timestamp {
  display: block;
}

.blog-index__post-author {
  align-items: center;
  display: flex;
}

.blog-index__post-author-image {
  border-radius: 50%;
  height: auto;
  margin-right: 0.35rem;
  width: 30px;
}

.blog-index__post-tags,
.blog-index__post-title,
.blog-index__post-timestamp,
.blog-index__post-author,
.blog-index__post-image--small {
  margin: 0 0 0.7rem;
}

.blog-index__post-title-link {
  color: {{ heading_two.color }};
}

.blog-index__post-tag,
.blog-index__post-author-name {
  color: {{ body_font.color }};
}

/* Blog pagination */
.blog-pagination {
  display: flex;
  justify-content: center;
}

.blog-pagination__link {
  border: 2px solid transparent;
  border-radius: 7px;
  line-height: 1;
  margin: 0 0.1rem;
  padding: 0.25rem 0.4rem;
  text-decoration: none;
  color: {{ body_font.color }};
}

.blog-pagination__link--active {
  border-color: #B0C1D4;
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
}

.blog-pagination__prev-link {
  margin-right: 0.25rem;
}

.blog-pagination__next-link {
  margin-left: 0.25rem;
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
  background-color: {{ primary_color }};
}

.blog-pagination__link.blog-pagination__prev-link--disabled,
.blog-pagination__link.blog-pagination__next-link--disabled {
  color: #B0C1D4;
  cursor: default;
  pointer-events: none;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  margin: 0 0.3rem;
  fill: {{ body_font.color }};
}

.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: #B0C1D4;
}

.blog-pagination__number-link:hover,
.blog-pagination__number-link:focus {
  border: 2px solid #B0C1D4;
}

/* Blog post */
.blog-post {
  margin: 0 auto;
  max-width: 960px;
}

.blog-post__meta {
  margin-bottom: 1.4rem;
}

.blog-post__meta a {
  text-decoration: underline;
  color: {{ body_font.color }};
}

.blog-post__timestamp {
  display: block;
}

.blog-post__tags svg {
  height: auto;
  margin-right: 10px;
  width: 15px;
}

.blog-post__tag-link {
  font-size: 0.875rem;
  color: {{ body_font.color }};
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.blog-post__tag-link:active {
  color: {{ color_variant(body_font.color, 40) }};
}


/* Blog related posts */
.blog-related-posts {
  background-color: #F8FAFC;
}

.blog-related-posts h2 {
  text-align: center;
}

.blog-related-posts__list {
  display: flex;
  flex-wrap: wrap;
}

.blog-related-posts__post {
  flex: 0 0 100%;
  padding: 1rem;
}

.blog-related-posts__image {
  height: auto;
  max-width: 100%;
}

.blog-related-posts__title {
  margin: 0.7rem 0;
}

.blog-related-posts__title a {
  color: {{ heading_two.color }};
}

/* Blog comments */
.blog-comments {
  margin: 0 auto;
  max-width: 680px;
  margin-bottom: {{ theme.spacing.vertical_spacing }}px;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus {
  background-color: transparent;
  text-decoration: underline;
}

#comments-listing .comment-reply-to {
  color: {{ anchor_font_color }};
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: {{ color_variant(anchor_font_color, -40) }};
}

#comments-listing .comment-reply-to:active {
  color: {{ color_variant(anchor_font_color, 40) }};
}

/*** MOBILE STYLES ***/
@media screen and (min-width: 768px) {
  .blog-index__post--small {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-index__post--small {
    flex: 0 0 calc(100% / 3);
  }

  .blog-related-posts__post {
    flex: 0 0 calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .blog-index__post--large {
    display: flex;
    flex: 1 0 100%;
  }

  .blog-index__post-image-wrapper--large {
    flex: 1 1 48%;
  }

  .blog-index__post-content--large {
    flex: 1 1 48%;
    padding-left: 2rem;
  }

  .blog-index__post-content--full-width {
    flex: 1 1 100%;
    padding-left: 0;
  }

  .blog-related-posts__post {
    flex: 0 0 calc(100% / 2);
  }
}

@media (max-width: 767px) {
  .blog-pagination__number-link {
    display: none;
  }
}