.icon-card {
  margin-bottom: 50px;
  padding: 25px 40px;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.icon-card:hover{
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
}
.icon-card.hover-lighter:hover {
  filter: brightness(110%) saturate(110%);
}

.icon-card.hover-darker:hover {
  filter: brightness(90%) saturate(90%);
}

.icon-card--topcenter,
.icon-card--topleft {
  padding: 20px;
}

.icon-card--border-all {
  border-style: solid;
}

.icon-card--border-top {
  border-top-style: solid;
}

.icon-card--border-left {
  border-left-style: solid;
}

.icon-card--border-right {
  border-right-style: solid;
}

.icon-card--border-bottom {
  border-bottom-style: solid;
}

.icon-card--topleft .icon-card__icon,
.icon-card--topcenter .icon-card__icon {
  position: absolute;
}

.icon-card--topleft .icon-card__icon.icon-normal,
.icon-card--topcenter .icon-card__icon.icon-normal {
  top: -30px;
}

.icon-card--topleft .icon-card__icon.icon-small,
.icon-card--topcenter .icon-card__icon.icon-small {
  top: -20px;
}

.icon-card--topcenter .icon-card__icon.icon-normal {
  left: -webkit-calc(50% - 30px);
  left: -moz-calc(50% - 30px);
  left: calc(50% - 30px);
}

.icon-card--topcenter .icon-card__icon.icon-small {
  left: -webkit-calc(50% - 20px);
  left: -moz-calc(50% - 20px);
  left: calc(50% - 20px);
}

.icon-card--topcenter .icon-card__text {
  text-align: center;
}

.icon-card--left .icon-card__icon,
.icon-card--leftmiddle .icon-card__icon {
  position: absolute;
}

.icon-card--left .icon-card__icon.icon-normal,
.icon-card--leftmiddle .icon-card__icon.icon-normal {
  left: -32px;
}

.icon-card--leftmiddle .icon-card__icon.icon-normal {
  top: 35%;
}

.icon-card--left .icon-card__icon.icon-small,
.icon-card--leftmiddle .icon-card__icon.icon-small {
  left: -22px;
}

.icon-card--leftmiddle .icon-card__icon.icon-small {
  top: 40%;
}

.icon-card--topleft .icon-card__content,
.icon-card--topcenter .icon-card__content {
  padding-top: 30px;
}

.icon-card__text a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.icon-card__text ul {
  padding-left: 20px;
}

.icon-card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.icon-card__icon {
  display: block;
  text-align: center;
}


.icon-card__icon.icon-normal {
  padding: 15px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}
.icon-card__icon.icon-normal i{
  font-size: 30px;
  line-height: 30px;
}

.icon-card__icon.icon-small {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}
.icon-card__icon.icon-small i{
  font-size: 18px;
  line-height: 20px;
}

.hs_cos_wrapper_type_icon {
  width: 100%;
  height: 100%;
}

.hs_cos_wrapper_type_icon svg {
  height: 100%;
  width: 100%;
}