{% if module.card_content.icon_settings.icon_color == "icon-custom-color" %}
  {% set custom_icon_fill_color = "fill: rgba("+module.card_content.icon_settings.icon_custom_color.color|convert_rgb+","+module.card_content.icon_settings.icon_custom_color.opacity/100+");" %}
{% endif %}

{% if module.card_content.icon_settings.icon_background_color == "icon-bg-custom-color" %}
  {% set custom_icon_background_color = "background: rgba("+module.card_content.icon_settings.icon_custom_background_color.color|convert_rgb+","+module.card_content.icon_settings.icon_custom_background_color.opacity/100+");" %}
{% endif %}

{% if module.border_background.border_color == "border-custom-color" %}
  {% set custom_card_border_color = "border-color: rgba("+module.border_background.border_custom_color.color|convert_rgb+","+module.border_background.border_custom_color.opacity/100+");" %}
{% endif %}

{% if module.border_background.background_color == "custom-color" %}
  {% set custom_card_background_color = "background: rgba("+module.border_background.background_custom_color.color|convert_rgb+","+module.border_background.background_custom_color.opacity/100+");" %}
{% endif %}

{% if module.border_background.background_hover_color == "hover-custom-color" %}
  <style type="text/css">
    .icon_settings.icon-card.{{ name }}:hover {
      background: rgba({{ module.border_background.background_hover_custom_color.color|convert_rgb }},{{ module.border_background.background_hover_custom_color.opacity/100 }});
    }
  </style>
{% endif %}
<div {% if module.animation_options.animate_item %}data-aos="{{ module.animation_options.animation_type }}" data-aos-duration="{{ module.animation_options.animation_duration }}" data-aos-delay="{{ module.animation_options.animation_delay }}" data-aos-anchor-placement="{{ module.animation_options.animation_trigger }}" data-aos-easing="{{ module.animation_options.animation_easing }}" data-aos-once="{% if module.animation_options.animate_once %}true{% else %}false{% endif %}" {% endif %}>
  <div class="icon-card {{ name }} {{ module.card_content.icon_settings.icon_position }} {{ module.border_background.border_position }} {{ module.border_background.border_color }} {{ module.border_background.background_color }} {{ module.border_background.background_hover_color }}" style="{% if module.border_background.background_color == "custom-color" %}{{ custom_card_background_color }}{% endif %} {% if module.border_background.border_color == "border-custom-color" %}{{ custom_card_border_color }}{% endif %} border-width: {{ module.border_background.border_width }}px;">
    {% if module.card_content.show_hide_icon %}
    <div class="icon-card__icon {{ module.card_content.icon_settings.icon_size }} {{ module.card_content.icon_settings.icon_color }} {{ module.card_content.icon_settings.icon_background_color }}" style="{{ custom_icon_background_color }} {{ custom_icon_fill_color }}">
      {% if module.card_content.custom_fontawesome_icon %}
        {{module.card_content.custom_icon}}
      {% else %}
      {% icon
        name="{{ module.card_content.icon_settings.icon_card_icon.name }}1"
        style="{{ module.card_content.icon_settings.icon_card_icon.type }}"
        unicode="{{ module.card_content.icon_settings.icon_card_icon.unicode }}"
      %}
      {% endif %}
    </div>
    {% endif %}
    
    <div class="icon-card__content">
      {% if module.card_content.icon_card_text %}
      <div class="icon-card__text {% if module.card_content.white_text %}white-text{% endif %}">
        {{ module.card_content.icon_card_text }}
      </div>
      {% endif %}
      {% if module.card_content.link_field.url.href %}
        {% set href = module.card_content.link_field.url.href %}
        {% if module.card_content.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" class="icon-card__link"  {% if module.card_content.link_field.open_in_new_tab %}target="_blank"{% endif %} {% if module.card_content.link_field.no_follow %}rel="nofollow"{% endif %}></a>
      {% endif %}
    </div>
  </div>
</div>