{# Load the slider js #}
{% require_js position="footer" %}
  <script>
    $('.image-logo-slider-wrapper').slick({
      arrows: {% if module.show_slider_arrows %}true{% else %}false{% endif %},
      autoplay: {% if module.auto_rotate_slides %}true{% else %}false{% endif %},
      {% if module.auto_rotate_slides %}
      autoplaySpeed: {{ module.auto_rotate_speed * 1000 }},
      {% endif %}
      dots: {% if module.show_slider_dots %}true{% else %}false{% endif %},
      slidesToShow: {{ module.number_of_slides_to_show }},
      slidesToScroll: 1,
    });
  </script>
{% end_require_js %}

{% if !module.show_slider_arrows %}
  {% require_css position="footer" %}
  <style>
    .image-logo-slider-wrapper .slick-list {
      margin: 0 !important;
    }
  </style>
  {% end_require_css %}
{% endif %}

<div class="image-logo-slider-wrapper {% if module.white_text_navigation %}text-white{% endif %}">
  {% for item in module.images_logos %}
    <div class="image-logo-slide">
      <div class="image-logo-slide-inner">
        {% if item.add_link %}
          {% set href = item.link_field.url.href %}
          {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %} {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}>
        {% endif %}
        {% if item.image_logo.src %}
          {% set sizeAttrs = 'width="{{ item.image_logo.width }}" height="{{ item.image_logo.height }}"' %}
          {% if item.image_logo.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.image_logo.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.image_logo.max_width }}" height="{{ item.image_logo.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = item.image_logo.loading != 'disabled' ? 'loading="{{ item.image_logo.loading }}"' : '' %}
          <img src="{{ item.image_logo.src }}" alt="{{ item.image_logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        {% if item.add_link %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>