.dnd-section-parallax{
  position: relative;
}
.dnd-section--full-height{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.dnd-section-parallax > .row-fluid{
  position: relative;
  z-index: 2;
}

.parallax-bg{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
}
.parallax-mirror {
  z-index: unset !important;
}

.parallax-bg__background{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.parallax-bg--parallax-fixed .parallax-bg__background{
  background-attachment: fixed;
}
.parallax-bg--parallax-ken_burns .parallax-bg__background{
  transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  animation-duration: 15s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.parallax-bg--parallax-ken_burns.loaded-ken-burns .parallax-bg__background{
  animation-name: parallax-bg-ken-burns;
}

.parallax-bg--parallax-ken_burns.parallax-bg--speed-fast .parallax-bg__background{
  animation-duration: 12s;
}
.parallax-bg--parallax-ken_burns.parallax-bg--speed-slow .parallax-bg__background{
  animation-duration: 20s;
}
.parallax-bg__background img{
  display: none;
}

.remove-bg {
  background: none;
  background-color: unset !important;
}

@keyframes parallax-bg-ken-burns {
    0% {
      transform: scale(1.3);
      -moz-transform: scale(1.3);
      -webkit-transform: scale(1.3);
    }
    100% {
        transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
    }
}



.row-video-banner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.row-video-banner__poster{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.play-video .row-video-banner__poster{
/*   opacity: 0; */
}
.row-video-banner__poster img{
  display: none !important;
}
.row-video-banner__overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.row-video-banner__overlay--none{
  
}
.row-video-banner__overlay--solid{
  opacity: 1 !important;
}
.row-video-banner__overlay--light{
  opacity: 0.2 !important;
}
.row-video-banner__overlay--medium{
  opacity: 0.4 !important;
}
.row-video-banner__overlay--heavy{
  opacity: 0.6 !important;
}
.row-video-banner__overlay--very-heavy{
  opacity: 0.8 !important;
}
.row-video-banner__background{
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 2;
  opacity: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.play-video .row-video-banner__background{
  opacity: 1;
}
.row-video-banner__background img.vidyard-player-embed{
  display: none !important;
}
