<style type="text/css">
  {% if module.slider_options.pagination_colour == "primary-brand" %}
  {% set color_to_convert = theme.global_colors.primary_color.color %}
  {% elif module.slider_options.pagination_colour == "secondary-brand" %}
  {% set color_to_convert = theme.global_colors.secondary_color.color %}
  {% elif module.slider_options.pagination_colour == "dark" %}
  {% set color_to_convert = theme.global_colors.dark_color.color %}
  {% elif module.slider_options.pagination_colour == "light" %}
  {% set color_to_convert = theme.global_colors.light_color.color %}
  {% elif module.slider_options.pagination_colour == "white" %}
  {% set color_to_convert = "#ffffff" %}
  {% endif %}
  {% set pagination_color = color_to_convert|convert_rgb %}

  #{{ name }}.partner-carousel .owl-nav button span,
  #{{ name }}.partner-carousel .owl-dots button span {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  #{{ name }}.partner-carousel .owl-nav button span {
    color: rgba({{ pagination_color }},0.6);
  }

  #{{ name }}.partner-carousel .owl-nav button:hover span {
    color: rgba({{ pagination_color }},1);
  }

  #{{ name }}.partner-carousel .owl-dots button span {
    border-color: rgba({{ pagination_color }},0.4);
    background-color: rgba({{ pagination_color }},0.4);
  }

  #{{ name }}.partner-carousel .owl-dots button:hover span,
  #{{ name }}.partner-carousel .owl-dots button.active span {
    background-color: rgba({{ pagination_color }},1);
  }
</style>

{% set auto_rotate = module.slider_options.slider_rotation_speed_seconds * 1000 %}
<div id="{{ name }}" class="partner-carousel {{ module.slider_options.pagination_colour }}"
     data-desktop="{{ module.layout_options.desktop_columns }}"
     data-tablet="{{ module.layout_options.tablet_columns }}"
     data-mobile="{{ module.layout_options.mobile_columns }}"
     data-navigation="{{ module.slider_options.show_navigation_arrows }}"
     data-pagination="{{ module.slider_options.show_pagination_dots }}"
     data-auto="{{ auto_rotate }}"
     >
    {% if module.title %}
    <h2 class="partner-carousel__title">{{ module.title }}</h2>
    {% endif %}
  <div class="partner-carousel__inner owl-carousel">
    {% for slide in module.logos %}
      <div class="partner-carousel__item">
        <div class="partner-carousel__item-inner">
          {% if slide.logo.src %}
          <div class="partner-carousel__image">
              {% set sizeAttrs = 'width="{{ module.logos.logo.width }}" height="{{ module.logos.logo.height }}"' %}
              {% if slide.logo.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif slide.logo.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.logos.logo.max_width }}px; max-height: {{ module.logos.logo.max_height }}px"' %}
              {% endif %}
              {% if slide.link_on_off %}
                {% if slide.logo_url %}
                  {% set slide_link_target = "_self" %}
                  {% if slide.logo_url.open_in_new_tab %}
                    {% set slide_link_target = "_blank" %}
                  {% endif %}
                  <a target="{{slide_link_target}}" href="{{ slide.logo_url.url.href }}">
                {% endif %}  
                    <img src="{{ slide.logo.src }}" alt="{{ slide.logo.alt }}" {{ sizeAttrs }}>
                {% if slide.logo_url %}
                  </a>
                {% endif %}    
              {% else %}
                <img src="{{ slide.logo.src }}" alt="{{ slide.logo.alt }}" {{ sizeAttrs }}>
              {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

