.partner-carousel__inner{
  white-space: nowrap;
}
.partner-carousel__inner .owl-stage{
  display: flex;
}
.partner-carousel__inner .owl-item{
  padding: 10px;
}
.partner-carousel__inner .owl-item .partner-carousel__item{
  width: 100%;
  height: 100%;
}
.partner-carousel__item{
  width: 240px;
  display: inline-block;
}
.partner-carousel__item-inner{
  position: relative;
  white-space: normal;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-carousel__image{
  text-align: center;
  position: relative;
  padding: 20px 0;
}
.partner-carousel__image a {
  display: block;
}
.partner-carousel__image img{
  width: 120px;
  height: auto;
}
.partner-carousel__image span{
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 4px solid white;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bdbdbd;
  position: relative;
}
.partner-carousel__title{
  text-align: center;
  font-size: 2.4em;
  margin: 0 0 10px 0;
  padding: 0 10px;
}
.partner-carousel__sub-title{
  text-align: center;
  font-size: 1em;
  margin: 0 0 30px 0;
  padding: 0 10px;
}
.partner-carousel__description{
  font-size: 1em;
  padding: 0 10px 10px;
  text-align: center;
}
.partner-carousel__button{
  text-align: center;
  padding: 10px 10px 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.partner-carousel__button a{
  display: inline-block;
  padding: 6px 20px;
  border: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  background-color: white;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1;
}

.partner-carousel__button a:hover{
  background-color: black;
  color: white;
}

.partner-carousel .owl-nav button span{
  display: inline-block;
  width: 40px;
  line-height: 60px;
  font-size: 80px;
}

.partner-carousel .owl-nav .owl-prev{
  position: absolute;
    left: -50px;
    top: 34%;
    border: 0 none;
    border-radius: 0;
}

.partner-carousel .owl-nav .owl-next{
    position: absolute;
    right: -50px;
    top: 34%;
    background-color: rgba(0,0,0,0.3);
    border: 0 none;
    border-radius: 0;
}
.partner-carousel .owl-dots{
  padding: 30px 0;
  text-align: center;
}
.partner-carousel .owl-dots button{
  margin: 0 5px;
}
.partner-carousel .owl-dots button span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0px solid black;
  background-color: #888;
}

.partner-carousel .owl-dots button:hover span,
.partner-carousel .owl-dots button.active span{
  background-color: black;
}

@media(max-width: 1170px){
  .partner-carousel{
    padding: 0 30px;
  }
  .partner-carousel .owl-nav .owl-prev {
    left: -30px;
  }

  .partner-carousel .owl-nav .owl-next {
    right: -30px;
  }
}

@media(max-width: 767px){
  .partner-carousel .owl-dots button{
    margin: 0 2px;
  }
  .partner-carousel .owl-dots button span{
    width: 10px;
    height: 10px;
  }
}