{% if request.postDict.inpageEditorUI %}
  {# Text that will only show in the editor screen to allow the user to easily see and select the module #}
  <h6 class="editor-custom-module-title">CUSTOM COLUMN CSS</h6>
{% endif %}
<div id="module_{{ name }}"></div>
{% require_js position="footer" %}
<script>
  let $row_{{ name|replace('-','_') }} = $("#module_{{ name }}").closest(".dnd-column");
  let $section_{{ name|replace('-','_') }} = $("#module_{{ name }}").closest(".dnd-section");
  $row_{{ name|replace('-','_') }}.addClass("{{ module.custom_css_classes }}");
  $section_{{ name|replace('-','_') }}.addClass("{{ module.section_css_classes }}");
  $("#module_{{ name }}").closest('.dnd-module').css('min-height', 0);
</script>
{% end_require_js %}