<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Base HS Theme - 404 error
  screenshotPath: ../../images/template-previews/404.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="error-page" data-error="404">
      {% module 'content'
        path='@hubspot/rich_text',
        html='<h1>Page not found.</h1><p><a href="/" class="button">Go Home</a></p>'
      %}
    </div>
  </section>
</main>
{% endblock body %}