<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Base HS Theme - 500 error
  screenshotPath: ../../images/template-previews/500.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="error-page" data-error="500">
      {% module 'content'
        path='@hubspot/rich_text',
        html='<h1>Something isn\'t quite right</h1><p>Sorry, an internal server error occurred. But have no fear, we\'re on the case!</p>'
      %}
    </div>
  </section>
</main>
{% endblock body %}