<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Base HS Theme - Email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'backup_unsubscribe'
        extra_classes='backup-unsubscribe',
        path='@hubspot/email_simple_subscription'
      %}
    </div>
  </section>
</main>
{% endblock body %}