<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: Base HS Theme - Membership registration
  screenshotPath: ../../images/template-previews/membership-register.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block header %}
{% endblock %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'content'
        path='@hubspot/rich_text',
        html='<h4>Welcome!</h4><p>Set up your password to sign in and see the content you now have access to.</p>'
      %}
      <div class="form-container">
        {% member_register 'my_register'
          email_label='Email',
          password_confirm_label='Confirm Password',
          password_label='Password',
          submit_button_text='Save Password'
        %}
      </div>
      <div>
        {% module_block module 'membership_admin_content'
          label='Contact admin',
          path='@hubspot/rich_text'
        %}
          {% module_attribute 'html' %}
            <p>Having trouble? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
          {% end_module_attribute %}
        {% end_module_block %}
      </div>
    </div>
  </section>
</main>
{% endblock %}