<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Base HS Theme - Password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'content'
        path='@hubspot/rich_text',
        html='<h1>Password Required</h1><p>Please enter the password required to view this page.</p>'
      %}
      {% module 'password_prompt'
        extra_classes='password-prompt',
        path='@hubspot/password_prompt'
      %}
    </div>
  </section>
</main>
{% endblock body %}