<!--
  templateType: search_results_page
  isAvailableForNewContent: true
  label: Base HS Theme - Search results
  screenshotPath: ../../images/template-previews/search-results.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page systems-page--search-results">
      {% module_block module 'search_results_content'
        label='Search results heading',
        path='@hubspot/rich_text'
      %}
        {% module_attribute 'html' %}
          <h1>Results for "{{ request.query_dict.term|escape }}"</h1>
        {% end_module_attribute %}
      {% end_module_block %}
      {% module 'search_results'
        path='@hubspot/search_results'
      %}
    </div>
  </section>
</main>
{% endblock body %}
