<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Base HS Theme - Email subscriptions confirmation
  screenshotPath: ../../images/template-previews/subscriptions-confirmation.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'subscriptions_confirmation'
        path='@hubspot/email_subscriptions_confirmation'
      %}
    </div>
  </section>
</main>
{% endblock body %}
