button,
.button {
  border-radius: {{ theme.buttons.border_radius }};
  border-width: {{ theme.buttons.border_width }};
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  height: auto;
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
  white-space: normal;
  width: auto;
  word-break: break-word;
}

button.large,
.button.large {
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 25px 75px;
}

button.medium,
.button.medium {
  font-size: 1rem;
  line-height: 1.1;
  padding: 15px 40px;
}

button.small,
.button.small {
  font-size: 0.75rem;
  line-height: 1.1;
  padding: 10px 25px;
}

button.primary.solid,
.button.primary.solid {
  background-color: {{ theme.global_colors.primary_color.color }};
  border-color: {{ theme.global_colors.primary_color.color }};
}

button.primary.outline,
.button.primary.outline {
  background-color: transparent;
  border-color: {{ theme.global_colors.primary_color.color }};
}

button.secondary.solid,
.button.secondary.solid {
  background-color: {{ theme.global_colors.secondary_color.color }};
  border-color: {{ theme.global_colors.secondary_color.color }};
}

button.secondary.outline,
.button.secondary.outline {
  background-color: transparent;
  border-color: {{ theme.global_colors.secondary_color.color }};
}

button.dark.solid,
.button.dark.solid {
  background-color: {{ theme.global_colors.dark_color.color }};
  border-color: {{ theme.global_colors.dark_color.color }};
}

button.dark.outline,
.button.dark.outline {
  background-color: transparent;
  border-color: {{ theme.global_colors.dark_color.color }};
}

button.light.solid,
.button.light.solid {
  background-color: {{ theme.global_colors.light_color.color }};
  border-color: {{ theme.global_colors.light_color.color }};
}

button.light.outline,
.button.light.outline {
  background-color: transparent;
  border-color: {{ theme.global_colors.light_color.color }};
}

button.white.solid,
.button.white.solid {
  background-color: #ffffff;
  border-color: #ffffff;
}

button.white.outline,
.button.white.outline {
  background-color: transparent;
  border-color: #ffffff;
}


button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}


button.solid:hover,
button.solid:focus,
.button.solid:hover, 
.button.solid:focus {
  filter: brightness(90%) saturate(90%);
}

button.primary-hover:hover,
button.primary-hover:focus,
.button.primary-hover:hover,
.button.primary-hover:focus {
  background-color: {{ theme.global_colors.primary_color.color }};
}

button.secondary-hover:hover,
button.secondary-hover:focus,
.button.secondary-hover:hover,
.button.secondary-hover:focus {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

button.dark-hover:hover,
button.dark-hover:focus,
.button.dark-hover:hover,
.button.dark-hover:focus {
  background-color: {{ theme.global_colors.dark_color.color }};
}

button.light-hover:hover,
button.light-hover:focus,
.button.light-hover:hover,
.button.light-hover:focus {
  background-color: {{ theme.global_colors.light_color.color }};
}

button.white-hover:hover,
button.white-hover:focus,
.button.white-hover:hover,
.button.white-hover:focus {
  background-color: #ffffff;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #21222A;
  border-color: #21222A;
  color: #FFF;
  text-decoration: none;
}

button:active,
.button:active {
  background-color: #71727A;
  border-color: #71727A;
  color: #FFF;
  text-decoration: none;
}

button.text-primary,
.button.text-primary{
  color: {{ theme.global_colors.primary_color.color }};
}

button.text-secondary,
.button.text-secondary{
  color: {{ theme.global_colors.secondary_color.color }};
}

button.text-dark,
.button.text-dark{
  color: {{ theme.global_colors.dark_color.color }};
}

button.text-light,
.button.text-light{
  color: {{ theme.global_colors.light_color.color }};
}

button.text-white,
.button.text-white{
  color: {{ theme.global_colors.white_color.color }};
}

button.text-primary-hover:hover,
.button.text-primary-hover:hover{
  color: {{ theme.global_colors.primary_color.color }};
}

button.text-secondary-hover:hover,
.button.text-secondary-hover:hover{
  color: {{ theme.global_colors.secondary_color.color }};
}

button.text-dark-hover:hover,
.button.text-dark-hover:hover{
  color: {{ theme.global_colors.dark_color.color }};
}

button.text-light-hover:hover,
.button.text-light-hover:hover{
  color: {{ theme.global_colors.light_color.color }};
}

button.text-white-hover:hover,
.button.text-white-hover:hover{
  color: #fff;
}
