.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p,
.white-text ul,
.white-text li,
.white-text a,
.white-text a:hover {
  color: #ffffff;
}

.white-text svg {
  fill: #ffffff;
}

.white-text label,
.white-text form label{
  color: #FFFFFF;
}

.white-text-hover:hover,
.white-text-hover:hover *{
  color: white;
}

.white-text-active.active,
.white-text-active.active *{
  color: white;
}

.bg-primary-color {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.bg-secondary-color {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.bg-dark-color {
  background-color: {{ theme.global_colors.dark_color.color }};
}

.bg-light-color {
  background-color: {{ theme.global_colors.light_color.color }};
}

.text-primary-color {
  color: {{ theme.global_colors.primary_color.color }};
}

.text-secondary-color {
  color: {{ theme.global_colors.secondary_color.color }};
}

.text-dark-color {
  color: {{ theme.global_colors.dark_color.color }};
}

.text-light-color {
  color: {{ theme.global_colors.light_color.color }};
}

.text-primary-color-hover:hover {
  color: {{ theme.global_colors.primary_color.color }};
}

.text-secondary-color-hover:hover {
  color: {{ theme.global_colors.secondary_color.color }};
}

.text-dark-color-hover:hover {
  color: {{ theme.global_colors.dark_color.color }};
}

.text-light-color-hover:hover {
  color: {{ theme.global_colors.light_color.color }};
}

.video-banner__overlay--primary-color::before {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.video-banner__overlay--secondary-color::before {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.video-banner__overlay--dark-color::before {
  background-color: {{ theme.global_colors.dark_color.color }};
}

.video-banner__overlay--light-color::before {
  background-color: {{ theme.global_colors.light_color.color }};
}

.bg-primary-color-hover:hover{
  background-color: {{ theme.global_colors.primary_color.color }};
}

.bg-secondary-color-hover:hover{
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.bg-dark-color-hover:hover {
  background-color: {{ theme.global_colors.dark_color.color }};
}

.bg-light-color-hover:hover {
  background-color: {{ theme.global_colors.light_color.color }};
}

.bg-primary-color-active.active{
  background-color: {{ theme.global_colors.primary_color.color }};
}

.bg-secondary-color-active.active{
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.bg-dark-color-active.active {
  background-color: {{ theme.global_colors.dark_color.color }};
}

.bg-light-color-active.active {
  background-color: {{ theme.global_colors.light_color.color }};
}

.border-primary-color {
  border-color: {{ theme.global_colors.primary_color.color }};
}

.border-secondary-color {
  border-color: {{ theme.global_colors.secondary_color.color }};
}

.border-dark-color {
  border-color: {{ theme.global_colors.dark_color.color }};
}

.border-light-color {
  border-color: {{ theme.global_colors.light_color.color}};
}

.icon-primary-color i[class*=fa] {
  color: {{ theme.global_colors.primary_color.color }};
}

.icon-secondary-color i[class*=fa] {
  color: {{ theme.global_colors.secondary_color.color }};
}

.icon-dark-color i[class*=fa] {
  color: {{ theme.global_colors.dark_color.color }};
}

.icon-light-color i[class*=fa] {
  color: {{ theme.global_colors.light_color.color}};
}

.icon-bg-primary-color i[class*=fa] {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.icon-bg-secondary-color i[class*=fa] {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.icon-bg-dark-color i[class*=fa] {
  background-color: {{ theme.global_colors.dark_color.color }};
}

.icon-bg-light-color i[class*=fa] {
  background-color: {{ theme.global_colors.light_color.color }};
}

.icon-primary-color svg {
  fill: {{ theme.global_colors.primary_color.color }};
}

.icon-secondary-color svg {
  fill: {{ theme.global_colors.secondary_color.color }};
}

.icon-dark-color svg {
  fill: {{ theme.global_colors.dark_color.color }};
}

.icon-light-color svg {
  fill: {{ theme.global_colors.light_color.color}};
}

.icon-bg-primary-color svg {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.icon-bg-secondary-color svg {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.icon-bg-dark-color svg {
  background-color: {{ theme.global_colors.dark_color.color }};
}

.icon-bg-light-color svg {
  background-color: {{ theme.global_colors.light_color.color }};
}

button.hover-dark:hover,
.button.hover-dark:hover {
  background-color: {{ theme.global_colors.dark_color.color }};
}

button.hover-white:hover,
.button.hover-white:hover {
  background-color: {{ theme.global_colors.white_color.color }};
}

button.text-dark,
.button.text-dark {
  color: {{ theme.global_colors.dark_color.color }};
}

button.text-white,
.button.text-white {
  color: {{ theme.global_colors.white_color.color }};
}

button.text-hover-dark:hover,
.button.text-dark:hover {
  color: {{ theme.global_colors.dark_color.color }};
}

button.text-hover-white:hover,
.button.text-white:hover {
  color: {{ theme.global_colors.white_color.color }};
}
