/* Form */

form {
  font-family: Lato, sans-serif;
}

.hs-form-field {
  margin-bottom: 1.4rem;
}

/* Labels */

form label {
  color: #33475B;
  display: block;
  font-size: 0.875rem;
  padding-top: 0;
  margin-bottom: 0.35rem;
  text-align: left;
  width: auto;
}

/* Help text - legends */

form legend {
  color: #33475B;
  font-size: 0.875rem;
}

/* Inputs */

.input {
  position: relative;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=file],
select,
textarea {
  background-color: #FFF;
  border: 2px solid #D1D6DC;
  border-radius: 3px;
  color: #33475B;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.7rem;
  width: 100% !important;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=file]:focus,
select:focus,
textarea:focus {
  outline-color: rgba(82, 168, 236, 0.8);
}

fieldset {
  max-width: 100% !important;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-list > li {
  display: block;
  margin: 0.7rem 0;
  padding: 0;
  width: 100%;
}

.inputs-list input,
.inputs-list span {
  font-size: 0.875rem;
  vertical-align: middle;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin-right: 0.35rem;
  padding: 0;
  width: auto;
}

/* Inputs - datepicker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: #33475B;
  content:'\01F4C5';
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: #FFF;
}

.fn-date-picker td.is-today .pika-button {
  color: #343A40;
}

.fn-date-picker td.is-selected .pika-button {
  background: #343A40;
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover {
  background-color: #343A40 !important;
  border-radius: 0 !important;
  color: #FFF;
}

/* Inputs - file picker */

input[type=file] {
  background-color: transparent;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  font-size: 0.875rem;
  margin: 0 0 1.4rem;
}

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  background-color: transparent;
  border: none;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  font-size: 0.875rem;
  margin-left: 1rem !important;
}

/* Validation */

.hs-form-required {
  color: red;
}

.hs-input.invalid.error {
  border-color: #EF6B51;
}

.hs-error-msg {
  color: #EF6B51;
  margin-top: 0.35rem;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  background-color: #494A52;
  border: 1px solid #494A52;
  border-radius: 6px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.92rem;
  font-weight: normal;
  height: auto;
  line-height: 1.1;
  margin: 0;
  padding: 15px 53px;
  position: relative;
  text-align: center;
{# default "Get Free Widget" form (renders when no form is passed to the form HubL tag) is an anchor (a.hs-button) rather than a real input, so it needs explcit css to avoid link styling #}
  text-decoration: none;
  transition: all 0.15s linear;
  white-space: normal;
  width: auto;
  word-break: break-word;
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color: #21222A;
  border-color: #21222A;
{# see "no form selected" note above #}
  color: #FFF;
}

form input[type=submit]:active,
form .hs-button:active {
  background-color: #71727A;
  border-color: #71727A;
{# see "no form selected" note above #}
  color: #FFF;
}

/* Captcha */

.grecaptcha-badge {
  margin: 0 auto;
}

.form-no-label form label{
  display: none !important;
}

.form-no-label ::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

.form-no-label ::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.form-no-label :-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.form-no-label :-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.form-no-label ::placeholder {
  color: inherit;
  opacity: 1;
}

.form-no-label textarea.hs-input{
  width: 100% !important;
}