{% require_css %}
<style>
  {% if module.button_type_size_color_alignment.button_color == 'custom' %}
  #{{ name }} .button.custom.solid{
    background-color: {{ module.button_type_size_color_alignment.custom_button_color.color }};
    border-color: {{ module.button_type_size_color_alignment.custom_button_color.color }};
  }
  #{{ name }} .button.custom.outline{
    background-color: transparent;
    border-color: {{ module.button_type_size_color_alignment.custom_button_color.color }};
  }
  {% endif %}
  
  {% if module.button_type_size_color_alignment.button_hover_color == 'custom' %}
  #{{ name }} .button.custom-hover:hover{
    background-color: {{ module.button_type_size_color_alignment.custom_button_hover_color.color }};
    border-color: {{ module.button_type_size_color_alignment.custom_button_hover_color.color }};
  }
  {% endif %}
  
  {% if module.button_type_size_color_alignment.text_color == 'custom' %}
  #{{ name }} .button.text-custom{
    color: {{ module.button_type_size_color_alignment.custom_text_color.color }};
  }
  {% endif %}
  
  {% if module.button_type_size_color_alignment.text_hover_color == 'custom' %}
  #{{ name }} .button.text-custom-hover:hover{
    color: {{ module.button_type_size_color_alignment.custom_text_hover_color.color }};
  }
  {% endif %}
  
</style>

{% end_require_css %}

<div id="{{ name }}" {% if module.animation_options.animate_item %}data-aos="{{ module.animation_options.animation_type }}" data-aos-duration="{{ module.animation_options.animation_duration }}" data-aos-delay="{{ module.animation_options.animation_delay }}" data-aos-anchor-placement="{{ module.animation_options.animation_trigger }}" data-aos-easing="{{ module.animation_options.animation_easing }}" data-aos-once="{% if module.animation_options.animate_once %}true{% else %}false{% endif %}" {% endif %}>
  <div class="custom-button text-{{ module.button_type_size_color_alignment.button_align }}" >
    {% set href = module.button_link_text.button_url.url.href %}
    {% if module.button_link_text.button_url.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    {% set rel = [] %}
    {% if module.button_link_text.button_url.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}
    {% if module.button_link_text.button_url.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}
    <a 
       href="{{ href }}"
       class="button
              {{ module.button_type_size_color_alignment.button_color }}
              {{ module.button_type_size_color_alignment.button_hover_color }}-hover 
              text-{{ module.button_type_size_color_alignment.text_color }} 
              text-{{ module.button_type_size_color_alignment.text_hover_color }}-hover 
              {{ module.button_type_size_color_alignment.button_size }} 
              {{ module.button_type_size_color_alignment.button_type }}" 
       {% if module.button_link_text.button_url.open_in_new_tab %}target="_blank"{% endif %}
       {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
       >
      <span>{{ module.button_link_text.button_text }}</span>
    </a>
  </div>
</div>