{% set filter_query = '&orderBy=random()' %}
{% if module.company %}
  {% set filter_query = filter_query ~ '&company=' ~ module.company %}
{% endif %}
{% if module.testimonial_tag %}
  {% set filter_query = filter_query ~ '&tags=' ~ module.testimonial_tag %}
{% endif %}
{% if module.limit_testimonials %}
  {% set filter_query = filter_query ~ '&limit=' ~ module.max_number %}
{% endif %}

{% set css = 'testimonials-slider--display-inline-quotes' %}

<div id="{{ name }}" class="testimonials-slider {{ css }}"
     data-navigation="{{ module.display_navigation_arrows }}"
     data-pagination="{{ module.display_pagination_dots }}"
     data-auto="{{ module.slide_delay * 1000 }}"
>
  <div class="testimonials-slider__inner">

    
    <div class=" testimonials-slider__icon karman-icon-wrapper {{ module.quote_icon.icon_position }}">
    <div class="karman-icon {{ module.quote_icon.icon_color }} ">
    {% if module.quote_icon.custom_fontawesome_icon %}
      {{ module.quote_icon.custom_icon }}
    {% else %}
      {% icon
        name="{{ module.quote_icon.icon.name }}"
        style="{{ module.quote_icon.icon.type }}"
        unicode="{{ module.quote_icon.icon.unicode }}"
        icon_set="{{ module.quote_icon.icon.icon_set }}"
      %}
    {% endif %}
    </div>
  </div>
  
    <div class="testimonials-slider__carousel owl-carousel">
          {% for row in hubdb_table_rows(module.hubdbtable, filter_query) %}
            
              <div class="testimonials-slider__item">
                <div class="testimonials-slider__text">
                  {{ row.testimonial_text }}
                </div>
                <div class="testimonials-slider__author">
                  <strong>{{ row.person_name }}</strong>
                  {% if row.position %}<br/>{{ row.position }}{% endif %}
                  {% if row.company %}<br/>{{ row.company }}{% endif %}
                </div>
              </div>
            
          {% endfor %}
      </div>
    </div>
  </div>

{% require_css %}
<style type="text/css">
  {% if module.pagination_colour == "primary-brand" %}
  {% set color_to_convert = theme.global_colors.primary_color.color %}
  {% elif module.pagination_colour == "secondary-brand" %}
  {% set color_to_convert = theme.global_colors.secondary_color.color %}
  {% elif module.pagination_colour == "dark" %}
  {% set color_to_convert = theme.global_colors.dark_color.color %}
  {% elif module.pagination_colour == "light" %}
  {% set color_to_convert = theme.global_colors.light_color.color %}
  {% elif module.pagination_colour == "white" %}
  {% set color_to_convert = "#ffffff" %}
  {% endif %}
  {% set pagination_color = color_to_convert|convert_rgb %}
  
  #{{ name }} .owl-nav button span,
  #{{ name }} .owl-dots button span {
     -webkit-transition: all ease 0.3s;
     -moz-transition: all ease 0.3s;
     -ms-transition: all ease 0.3s;
     -o-transition: all ease 0.3s;
     transition: all ease 0.3s;
   }
  
  #{{ name }} .owl-nav button span {
     color: rgba({{ pagination_color }},0.6);
   }
  
  #{{ name }} .owl-nav button:hover span {
     color: rgba({{ pagination_color }},1);
   }
  
  #{{ name }} .owl-dots button span {
     border-color: rgba({{ pagination_color }},0.4);
     background-color: rgba({{ pagination_color }},0.4);
   }
  
  #{{ name }} .owl-dots button:hover span,
  #{{ name }} .owl-dots button.active span {
     background-color: rgba({{ pagination_color }},1);
   }
  
</style>
{% end_require_css %}

{% require_js %}
<script>
  (function($){
    
    var waypoints = $('#{{ name }}').waypoint(function(direction) {
      if(direction == 'down'){
        $(this.element).addClass('testimonials-slider--animated');
      }
    }, {
      offset: '50%'
    });
    
  })(jQuery);
</script>
{% end_require_js %}


