.testimonials-slider{
  position: relative;
}
.testimonials-slider__inner{
  padding: 0 50px 60px 50px;
  position: relative;
}
.testimonials-slider--display-top-bar .testimonials-slider__inner{
  padding-top: 76px;
  padding-left: 170px;
}

.testimonials-slider__top-bar{
  height: 102px;
  position: absolute;
  background-color: {{ theme.global_colors.primary_color.color }};
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.testimonials-slider--display-inline-quotes .testimonials-slider__inner {
  justify-content: center;
  align-items: center;
  border-left: 0;
  text-align: center;
  font-style: italic;
  padding: 0;
}

.testimonials-slider--display-inline-quotes .testimonials-slider__carousel {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.testimonials-slider--display-inline-quotes .swiper-slide, .testimonials-slider--display-inline-quotes .swiper-pagination {
  padding: 0 30px;
}

.testimonials-slider--display-inline-quotes .testimonials-slider__icon {
  margin: 0 0 30px 0;
}

.testimonials-slider--display-inline-quotes .testimonials-slider__icon .karman-icon{
  display: inline-block;
  margin: 0;
  width: 60px;
  height: 60px;
}

.testimonials-slider--display-inline-quotes .closing-quote {
  align-self: flex-end;
}

.testimonials-slider--display-inline-quotes .testimonials-slider__icon img {
  margin-bottom: 0;
}

.testimonials-slider__carousel{
  position: relative;
  z-index: 2;
}
.testimonials-slider__line{
  width: 3px;
  height: 0;
  position: absolute;
  background: {{ theme.global_colors.secondary_color.color }};
  top: 0;
  left: 0;  
  z-index: 2;
  transition: height ease 1.5s;
  -webkit-transition: height ease 1.5s;
  -moz-transition: height ease 1.5s;
}
.testimonials-slider--display-top-bar .testimonials-slider__line{
  left: 120px;
}
.testimonials-slider--animated .testimonials-slider__line{
  height: 100%;
}
.testimonials-slider__item{
  width: 100%;
}

.white-text .testimonials-slider__item{
  color: #ffffff;
}

.left-align .testimonials-slider__item, .left-align .testimonials-slider--display-inline-quotes .swiper-pagination {
  text-align: left;
}

.testimonials-slider__icon img {
  height: auto;
  margin-bottom: 70px;
  position: relative;
  z-index: 10;
}

/*

.quote-sm .testimonials-slider__icon img {
  height: 60px;
}  

*/

.white-quotes .testimonials-slider__icon img {
  filter: brightness(0) invert(1);
}

.testimonials-slider__text{
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 30px;
}
.testimonials-slider__author{
  font-size: 0.9em;
}
.testimonials-slider__author strong{
  font-size: 1.3em;
}
.testimonials-slider .swiper-container{
  padding-bottom: 20px;
}
.testimonials-slider .swiper-pagination{
  text-align: left;
}

.testimonials-slider--display-inline-quotes .swiper-pagination {
  text-align: center;
  padding-top: 30px;
}

.testimonials-slider .swiper-pagination-bullet{
  background-color: #d2d3d4;
  opacity: 1;
}
.testimonials-slider .swiper-pagination-bullet-active{
  background-color: #1f232a;
}

.testimonials-slider .swiper-container-horizontal>.swiper-pagination-bullets, 
.testimonials-slider .swiper-pagination-custom, 
.testimonials-slider .swiper-pagination-fraction {
  bottom: 0;
}

.testimonials-slider .swiper-slide {
  align-self: center;
  
  flex-basis: 100%;
  width: 100% !important;
 
}


.testimonials-slider .owl-nav button span {
  display: inline-block;
  width: 40px;
  line-height: 60px;
  font-size: 80px;
}

.testimonials-slider .owl-nav .owl-prev,
.testimonials-slider .owl-nav .owl-next {
  position: absolute;
  top: 17%;
  border: 0 none;
  border-radius: 0;
}

.testimonials-slider .owl-nav .owl-prev {
  left: -50px;
}

.testimonials-slider .owl-nav .owl-next {
  right: -50px;
}

.testimonials-slider .owl-dots {
  padding: 30px 0;
  text-align: center;
}

.testimonials-slider .owl-dots button {
  margin: 0 5px;
}

.testimonials-slider .owl-dots button span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0px solid;
}

@media (max-width: 992px){
  .testimonials-slider__inner{
    padding: 0 25px;
  }
  
  .testimonials-slider--display-top-bar .testimonials-slider__inner{
    padding-left: 85px;
  }
  
  .testimonials-slider--display-top-bar .testimonials-slider__line{
    left: 50px;
  }
}

